@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="-1" @attributes="@Attributes">
    @if (!HideHeading)
    {
        <div class="@CalloutHeadingCssClass mb-2">
            <strong>
                <Icon Name="iconName" class="me-2"></Icon>@heading
            </strong>
        </div>
    }
    <div>
        @ChildContent
    </div>
</div>
