@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@BootstrapClass.Callout @EnumExtensions.CalloutColorClassMap[Color] @Class" tabindex="-1" @attributes="@AdditionalAttributes">
    @if (!HideHeading)
    {
        <div class="@(BootstrapClass.CalloutHeading) mb-2">
            <strong>
                <Icon Name="@IconName" Class="me-2" />@Heading
            </strong>
        </div>
    }
    <div>
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</div>
