@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" tabindex="-1" @attributes="@AdditionalAttributes">
    @if (!HideHeading)
    {
        <div class="@(BootstrapClass.CalloutHeading) mb-2">
            <strong>
                <Icon Name="GetIconName()" class="me-2"></Icon>@GetHeading()
            </strong>
        </div>
    }
    <div>
        @ChildContent
    </div>
</div>
