@page "/card"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Card</h1>
<div class="lead mb-3">
    BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.
</div>

<SectionHeading Size="HeadingSize.H2" Text="About" PageUrl="@pageUrl" HashTagName="about" />
<div class="mb-3">
    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3">
    Click the buttons below to show and hide the content.
</div>
<Demo Type="typeof(Card_Demo_01_Examples)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Body" PageUrl="@pageUrl" HashTagName="body" />
<Demo Type="typeof(Card_Demo_02_Content_Types_Body)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Titles, text, and links" PageUrl="@pageUrl" HashTagName="titles-text-and-links" />
<Demo Type="typeof(Card_Demo_03_Content_Types_Titles_Text_And_Links)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Images" PageUrl="@pageUrl" HashTagName="images" />
<Demo Type="typeof(Card_Demo_04_Content_Types_Images)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="List groups" PageUrl="@pageUrl" HashTagName="list-groups" />
<Demo Type="typeof(Card_Demo_05_Content_Types_List_Groups)" Tabs="false" />

@code {
    private string pageUrl = "/card";
    private string title = "Blazor Card Component";
    private string description = "BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.";
    private string imageUrl = "https://i.imgur.com/8A0emQe.png";
}
