@using BlazorBootstrap
@using System.Threading.Tasks
@page "/preload"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Blazor Preload</h1>
@*<div class="mb-3">
    Use BlazorBootstrap's modal component to add dialogs to your site for lightboxes, user notifications, or completely custom content.
</div>*@

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Preload_Demo_01_Examples)" />

@code {
    private string pageUrl = "/preload";
    private string title = "Blazor Preload Component | BlazorBootstrap";
    private string description = "Indicate the loading state of a page with BlazorBootstrap's preload component.";
    private string imageUrl = "https://demos.getblazorbootstrap.com/images/logo/128X128.png"; // TODO: update this
}