@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_BarChart" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BarChart Parameters" PageUrl="@pageUrl" Link="bar-chart-parameters">
    <DocxTable TItem="BarChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BarChart Methods" PageUrl="@pageUrl" Link="bar-chart-methods">
    <DocxTable TItem="BarChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BarChartDataset Properties" PageUrl="@pageUrl" Link="bar-chart-dataset-properties">
    <DocxTable TItem="BarChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BarChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="bar-chart-dataset-datalabels-properties">
    <DocxTable TItem="BarChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BarChartOptions Properties" PageUrl="@pageUrl" Link="bar-chart-options-properties">
    <DocxTable TItem="BarChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(BarChart);
    private const string pageUrl = DemoRouteConstants.Docs_URL_BarChart;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_BarChart;
}