<div class="container overflow-x-auto">
    <div class="d-flex flex-row">
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0];"></div>
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1];"></div>
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2];"></div>
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3];"></div>
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4];"></div>
        <div class="p-5 m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5];"></div>
    </div>
</div>
