@page "/utils/color-utility"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Bootstrap Color Utils</h1>
<div class="lead mb-3">
    For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette and <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette.
    These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Categorical 6-color" PageUrl="@pageUrl" HashTagName="categorical-6-color" />
<Demo Type="typeof(ColorUtil_Demo_01_CategoricalSixColor)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Categorical 12-color" PageUrl="@pageUrl" HashTagName="categorical-12-color" />
<Demo Type="typeof(ColorUtil_Demo_02_CategoricalTwelveColor)" Tabs="true" />

@code {
    private string pageUrl = "/utils/color-utility";
    private string title = "Blazor Bootstrap Color Utils";
    private string description = "For data visualization, you can use the predefined palettes ColorBuilder.CategoricalTwelveColors for a 12-color palette and ColorBuilder.CategoricalSixColors for a 6-color palette. These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.";
    private string imageUrl = "https://i.imgur.com/VRglJqU.jpg"; // TODO: update this
}
