<table class="table">
    <tr>
        <td>ColorUtility.CategoricalSixColors[0]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[0];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalSixColors[1]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[1];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalSixColors[2]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[2];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalSixColors[3]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[3];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalSixColors[4]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[4];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalSixColors[5]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalSixColors[5];"></td>
    </tr>
</table>
