<table>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[0]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[0];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[1]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[1];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[2]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[2];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[3]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[3];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[4]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[4];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[5]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[5];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[6]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[6];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[7]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[7];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[8]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[8];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[9]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[9];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[10]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[10];"></td>
    </tr>
    <tr>
        <td>ColorUtility.CategoricalTwelveColors[11]</td>
        <td class="p-3" style="background-color: @ColorUtility.CategoricalTwelveColors[11];"></td>
    </tr>
</table>
