@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl"
              Title="@metaTitle"
              Description="@metaDescription"
              ImageUrl="@imageUrl" />

<PageHero Heading="@pageTitle">
    <LeadSection>@pageDescription</LeadSection>
</PageHero>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Categorical 6-color" PageUrl="@pageUrl" HashTagName="categorical-6-color" />
<div class="mt-4">
    <ColorUtil_Demo_01_CategoricalSixColor />
</div>

<SectionHeading Size="HeadingSize.H2" Text="Categorical 12-color" PageUrl="@pageUrl" HashTagName="categorical-12-color" />
<div class="mt-4">
    <ColorUtil_Demo_02_CategoricalTwelveColor />
</div>

@code {
    private const string pageUrl = RouteConstants.Demos_ColorUtils_Documentation;
    private const string pageTitle = "Blazor Bootstrap Color Utils";
    private const string pageDescription = "For data visualization, you can use the predefined palettes ColorBuilder.CategoricalTwelveColors for a 12-color palette and ColorBuilder.CategoricalSixColors for a 6-color palette. These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.";
    private const string metaTitle = "Blazor Bootstrap Color Utils";
    private const string metaDescription = "For data visualization, you can use the predefined palettes ColorBuilder.CategoricalTwelveColors for a 12-color palette and ColorBuilder.CategoricalSixColors for a 6-color palette. These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.";
    private const string imageUrl = "https://i.imgur.com/VRglJqU.jpg"; // TODO: update this
}
