@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Example" PageUrl="@pageUrl" Link="example">
    <div class="mb-3">To create a nested grid, we first need to enable the detail view. To enable the detail view, set the <code>AllowDetailView</code> parameter to <b>true</b>. In the following example, existing <code>&lt;GridColumn&gt;</code> tags are nested under <code>&lt;GridColumns&gt;</code> tag to distinguish them from <code>&lt;GridDetailView&gt;</code>.</div>
    <Demo Type="typeof(Grid_Demo_15_A_DetialView_Nested_Grid)" Tabs="false" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_NestedGrid;
    private const string pageTitle = "Blazor Grid - Nested Grid";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Nested Grid";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/IpMhPwG.png";
}
