@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" tabindex="-1" @attributes="@Attributes">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal-content-page-loading">
            <div class="modal-body">
                @if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    <div class="text-center @spinnerColor">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@if (showBackdrop)
{
    <div class="modal-backdrop modal-backdrop-page-loading fade show"></div>
}