@page "/autocomplete"

@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_AutoComplete" />

<Section Size="HeadingSize.H2" Name="Client side data" PageUrl="@pageUrl" Link="client-side-data">
    <Demo Type="typeof(AutoComplete_Demo_01_A_Client_Side_Filtering)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Client side data with StringComparision" PageUrl="@pageUrl" Link="client-side-data-with-string-comparision">
    <div class="mb-3">In the below example, <code>StringComparision.Ordinal</code> is used to make the filter case-sensitive.</div>
    <Demo Type="typeof(AutoComplete_Demo_01_B_Client_Side_Filtering_With_StringComparision)" Tabs="true" />
    <Callout Color="CalloutColor.Info">
        <div>By default, <code>StringComparison.OrdinalIgnoreCase</code> is used to compare culture-agnostic and case-insensitive string matching.</div>
    </Callout>
</Section>

<Section Size="HeadingSize.H2" Name="Server side data" PageUrl="@pageUrl" Link="server-side-data">
    <Demo Type="typeof(AutoComplete_Demo_02_Server_Side_Filtering)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Set default value" PageUrl="@pageUrl" Link="set-default-value">
    <Demo Type="typeof(AutoComplete_Demo_03_Set_Default_Value)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Validations" PageUrl="@pageUrl" Link="validations">
    <Demo Type="typeof(AutoComplete_Demo_04_Validations)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Keyboard Navigation" PageUrl="@pageUrl" Link="keyboard-navigation">
    <div>
        Blazor Bootstrap autocomplete component supports the following keyboard shortcuts to initiate various actions.
    </div>
    <div class="mb-3">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Key</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><kbd>Esc</kbd></td>
                    <td>Closes the popup list when it is in an open state.</td>
                </tr>
                <tr>
                    <td><kbd class="text-nowrap">Up arrow</kbd></td>
                    <td>Focuses on the previous item in the list.</td>
                </tr>
                <tr>
                    <td><kbd class="text-nowrap">Down arrow</kbd></td>
                    <td>Focuses on the next item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>Home</kbd></td>
                    <td>Focuses on the first item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>End</kbd></td>
                    <td>Focuses on the last item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>Enter</kbd></td>
                    <td>Selects the currently focused item.</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</Section>

<Section Size="HeadingSize.H2" Name="Disable" PageUrl="@pageUrl" Link="disable">
    <div class="mb-3">Use the <code>Disabled</code> parameter to disable the <code>AutoComplete</code>.</div>
    <Demo Type="typeof(AutoComplete_Demo_05_A_Disable)" Tabs="false" />
    <div class="my-3">Also, use <b>Enable()</b> and <b>Disable()</b> methods to enable and disable the <code>AutoComplete</code>.</div>
    <Callout Color="CalloutColor.Warning" Heading="NOTE">
        Do not use both the <b>Disabled</b> parameter and <b>Enable()</b> &amp; <b>Disable()</b> methods.
    </Callout>
    <Demo Type="typeof(AutoComplete_Demo_05_B_Disable)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Sizing" PageUrl="@pageUrl" Link="sizing">
    <Demo Type="typeof(AutoComplete_Demo_06_Sizing)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_AutoComplete;
    private const string pageTitle = "Blazor AutoComplete";
    private const string pageDescription = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private const string metaTitle = "Blazor AutoComplete Component";
    private const string metaDescription = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private const string imageUrl = "https://i.imgur.com/36RsWZ3.png";
}
