@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@State">
    <li id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <a class="page-link">@Text</a>
    </li>
</CascadingValue>