@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<li id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    <PaginationLink LinkIcon="@LinkIcon" LinkText="@LinkText" Text="@Text" LinkAriaLabel="@AriaLabel"/>
</li>
