@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<li id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <PaginationLink LinkIcon="@LinkIcon" LinkText="@LinkText" Text="@Text" LinkAriaLabel="@AriaLabel"/>
</li>
