@namespace BlazorBootstrap
@inherits BaseComponent

<nav aria-label="Pagination links">
    <ul id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <li class="page-item"><a class="page-link" href="#">@previousLinkText</a></li>
        @for (var i = 1; i <= TotalPages; i++)
        {
            <PaginationItem Active="ActivePageNumber == i" Text="@i.ToString()" />
        }
        <li class="page-item"><a class="page-link" href="#">@nextLinkText</a></li>
    </ul>
</nav>