@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@AdditionalAttributes">
    <button class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center" id="bb-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static" aria-label="Toggle theme (light)">
        <span class="blazorbootstrap-theme-indicator"><i class="bi bi-sun-fill"></i></span>
        <small class="d-lg-none ms-2" id="bb-theme-text">Toggle theme</small>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bb-theme-text">
        <li class="blazorbootstrap-theme-item px-1">
            <button type="button" class="dropdown-item d-flex align-items-center active rounded" data-bs-theme-value="light" aria-pressed="true" @onclick="SetLightTheme">
                <i class="bi bi-sun-fill me-2"></i>Light<i class="bi bi-check2 ms-auto"></i>
            </button>
        </li>
        <li class="blazorbootstrap-theme-item px-1">
            <button type="button" class="dropdown-item d-flex align-items-center rounded" data-bs-theme-value="dark" aria-pressed="false" @onclick="SetDarkTheme">
                <i class="bi bi-moon-stars-fill me-2"></i>Dark<i class="bi bi-check2 d-none ms-auto"></i>
            </button>
        </li>
        <li class="blazorbootstrap-theme-item px-1">
            <button type="button" class="dropdown-item d-flex align-items-center rounded" data-bs-theme-value="system" aria-pressed="false" @onclick="SetAutoTheme">
                <i class="bi bi-circle-half me-2"></i>Auto<i class="bi bi-check2 d-none ms-auto"></i>
            </button>
        </li>
    </ul>
</div>