@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Icons" />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <Demo Type="typeof(Icon_Demo_01_Examples)" />
</Section>

<Section Size="HeadingSize.H2" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <Demo Type="typeof(Icon_Demo_02_Sizes)" />
</Section>

<Section Size="HeadingSize.H2" Name="Font awesome icons" PageUrl="@pageUrl" Link="font-awesome-icons">
    <div class="mb-3">
        In the following example, we used <b>Font Awesome 6.4.2</b> free version icons. For Font Awesome setup, please follow the Font Awesome website.
    </div>
    <Demo Type="typeof(Icon_Demo_03_Font_Awesome_Icons)" />
</Section>

<Section Size="HeadingSize.H2" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <Demo Type="typeof(Icon_Demo_04_Colors)" />
</Section>

<Section Size="HeadingSize.H2" Name="Inline text with icon" PageUrl="@pageUrl" Link="inline-text-with-icon">
    <Demo Type="typeof(Icon_Demo_05_Inline_Text_With_Icon)" />
</Section>

<Section Size="HeadingSize.H2" Name="Link with icon" PageUrl="@pageUrl" Link="link-with-icon">
    <Demo Type="typeof(Icon_Demo_06_A_Link_With_Icon)" />
</Section>

<Section Size="HeadingSize.H2" Name="Link with custom icon" PageUrl="@pageUrl" Link="link-with-custom-icon">
    <Demo Type="typeof(Icon_Demo_06_B_Link_With_Custom_Icon)" />
</Section>

<Section Size="HeadingSize.H2" Name="Button with icon and text" PageUrl="@pageUrl" Link="button-with-icon-and-text">
    <Demo Type="typeof(Icon_Demo_07_A_Button_With_Icon_And_Text)" />
</Section>

<Section Size="HeadingSize.H2" Name="Button with icon only" PageUrl="@pageUrl" Link="button-with-icon-only">
    <Demo Type="typeof(Icon_Demo_07_B_Button_With_Icon_Only)" />
</Section>

<Section Size="HeadingSize.H2" Name="Button with font awesome icon" PageUrl="@pageUrl" Link="button-with-font-awesome-icon">
    <div class="mb-3">
        In the following example, we used <b>Font Awesome 6.4.2</b> free version icons. For Font Awesome setup, please follow the Font Awesome website.
    </div>
    <Demo Type="typeof(Icon_Demo_07_C_Button_With_Font_Awesome_Icon)" />
</Section>

<Section Size="HeadingSize.H2" Name="Icon with tooltip" PageUrl="@pageUrl" Link="icon-with-tooltip">
    <Demo Type="typeof(Icon_Demo_09_Tooltip)" />
</Section>

<Section Size="HeadingSize.H2" Name="Bootstrap Icons" PageUrl="@pageUrl" Link="bootstrap-icons">
    <Demo Type="typeof(Icon_Demo_10_Bootstrap_Icons)" />
</Section>

@code{
    private const string pageUrl = DemoRouteConstants.Demos_URL_Icons;
    private const string pageTitle = "Blazor Icon";
    private const string pageDescription = "Blazor Bootstrap icon component will display an icon from any icon font.";
    private const string metaTitle = "Blazor Icon Component";
    private const string metaDescription = "Blazor Bootstrap icon component will display an icon from any icon font.";
    private const string imageUrl = "https://i.imgur.com/273TamX.png";
}
