@page "/pdf-viewer"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Pdf Viewer</h1>
<div class="lead mb-3">
    Build hidden sidebars into your project for navigation, shopping carts, and more with a offcanvas component.
</div>

@* <CarbonAds /> *@

<Callout Type="CalloutType.Danger" Heading="NOTE">Similar to modals, only one offcanvas can be shown at a time.</Callout>

<PdfViewer Class="mb-3" Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf" />

<PdfViewer Class="mb-3" Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf" />

<PdfViewer Class="mb-3" Url="https://raw.githubusercontent.com/mozilla/pdf.js/ba2edeae/web/compressed.tracemonkey-pldi-09.pdf" />
    
@code {
    private string pageUrl = "/pdf-viewer";
    private string title = "Blazor Pdf Viewer Component";
    private string description = "Build hidden sidebars into your project for navigation, shopping carts, and more with Blazor Bootstrap offcanvas component.";
    private string imageUrl = "https://i.imgur.com/1vNz5Ci.jpg";
}
