@page "/getting-started"
@page "/getting-started/blazor-webassembly"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Getting started - Blazor WebAssembly</h1>
<div class="lead mb-3">Get started with the Enterprise-class Blazor Bootstrap Component library built on the Blazor and Bootstrap CSS framework.</div>

<SectionHeading Size="HeadingSize.H2" Text="Install Nuget Package" PageUrl="@pageUrl" HashTagName="install-nuget-package" />
<div>Looking to quickly add <b>Blazor Bootstrap</b> to your project? Use NuGet package manager.</div>
<div class="text-bg-dark p-2 mt-3 rounded-2">Install-Package Blazor.Bootstrap -Version @version</div>

<SectionHeading Size="HeadingSize.H2" Text="Add CSS references" PageUrl="@pageUrl" HashTagName="add-css-references" />
<div class="mb-3">
    Add the following references to the <code>head</code> section in the <b>wwwroot/index.html</b>.
</div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_01_A_Starter_Template_Add_CSS_References_Index.html" />

<div class="mb-3">
    <b>NOTE: </b>If you use the <b>Blazor WebAssembly App Empty</b> template (without demonstration code and Bootstrap), add the following references to the <code>head</code> section in the <b>wwwroot/index.html</b>. There is a known GitHub issue <a href="https://github.com/dotnet/aspnetcore/issues/43975" target="_blank">Blazor empty template doesn't load scoped CSS</a>.
</div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_01_B_Starter_Template_Add_CSS_References_Index.html" />

<SectionHeading Size="HeadingSize.H2" Text="Add script references" PageUrl="@pageUrl" HashTagName="add-script-references" />
<div class="mb-3">
    Add the following references to the <code>body</code> section in the <b>wwwroot/index.html</b> after the <code>_framework/blazor.webassembly.js</code> reference.
</div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_02_Starter_Template_Add_Script_References_Index.html" />

<Callout Type="CalloutType.Tip">
    <b>chart.js</b> reference is optional. Add when the <b>Chart</b> components are used in the application.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Register services" PageUrl="@pageUrl" HashTagName="register-services" />
<div>Add Blazor Bootstrap service in the <b>Program.cs</b></div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_03_Starter_Template_Register_services_Program.cs" />

<div>Register tag helpers in <b>_Imports.razor</b></div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_04_Starter_Template_Imports.razor" />

<SectionHeading Size="HeadingSize.H2" Text="Remove default references" PageUrl="@pageUrl" HashTagName="remove-default-references" />
<div class="mb-3">
    <p>In the <b>Pages/_Host.cshtml</b> file, the default blazor template includes demonstration code, icons, and Bootstrap. These files are no longer needed.</p>
</div>
<CodeSnippet File="~\Pages\GettingStarted\webassembly\Snippet_05_Starter_Template_Remove_Default_References_Index.html" />

<div class="mb-3">
    <p>Delete the default <b>bootstrap</b> and <b>open-iconic</b> folders from the <b>wwwroot</b> folder. </p>
    <p>
        <ol type="1">
            <li>wwwroot/css/bootstrap</li>
            <li>wwwroot/css/open-iconic</li>
        </ol>
    </p>
    <p>Either remove or keep the <b>site.css</b> file but make sure you clear it out of any content when the <a href="/sidebar">Sidebar</a> component with full layout is used.</p>
</div>

@code {
    private string pageUrl = "/getting-started/blazor-webassembly";
    private string title = "Getting started with Blazor Bootstrap - Blazor WebAssembly Project Setup";
    private string description = "High-performance, lightweight, and responsive blazor bootstrap components in a single package from the developers for the developers.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";

    private string version;
    [Inject] public IConfiguration Configuration { get; set; }

    protected override void OnInitialized()
    {
        version = $"{Configuration.GetValue<string>("version")}"; // example: v0.6.1
        base.OnInitialized();
    }
}