@page "/tabs"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Tabs</h1>
<div class="lead mb-3">
    Documentation and examples for how to use Blazor Bootstrap <code>Tabs</code> components.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Tabs_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Fade effect" PageUrl="@pageUrl" HashTagName="fade-effect" />
<div>To make tabs fade in, add <code>EnableFadeEffect="true"</code> parameter. The first tab pane must also have <code>IsActive="true"</code> parameter to make the initial content visible.</div>
<Demo Type="typeof(Tabs_Demo_02_Enable_FadeEffect)" />

<SectionHeading Size="HeadingSize.H2" Text="Title with Icon" PageUrl="@pageUrl" HashTagName="title-with-icon" />
<div>To customize the tab title, use <code>TitleTemplate</code>, as shown in the below example.</div>
<Demo Type="typeof(Tabs_Demo_03_Title_with_Icon)" />

<SectionHeading Size="HeadingSize.H2" Text="Disable Tab" PageUrl="@pageUrl" HashTagName="disable-tab" />
<div>Disable specific tabs by adding <code>Disabled="true"</code> parameter.</div>
<Demo Type="typeof(Tabs_Demo_04_Disable_Tab)" />

<SectionHeading Size="HeadingSize.H2" Text="Pills" PageUrl="@pageUrl" HashTagName="pills" />
<div>Use <code>NavStyle="NavStyle.Pills"</code> parameter to change the tabs to pills.</div>
<Demo Type="typeof(Tabs_Demo_05_Nav_Style_Pills)" />

<SectionHeading Size="HeadingSize.H2" Text="Activate individual tabs" PageUrl="@pageUrl" HashTagName="activate-individual-tabs" />
<div>You can activate individual tabs in several ways. Use predefined methods <code>ShowFirstTabAsync</code>, <code>ShowLastTabAsync</code>, <code>ShowTabByIndexAsync</code>, and <code>ShowTabByNameAsync</code>, as shown below.</div>
<Demo Type="typeof(Tabs_Demo_06_Activate_Individual_Tabs)" />

<SectionHeading Size="HeadingSize.H2" Text="Events" PageUrl="@pageUrl" HashTagName="events" />
<div>
    When showing a new tab, the events fire in the following order:    
    <p class="py-2 px-3">
        1. <code>OnHiding</code> (on the current active tab)<br />
        2. <code>OnShowing</code> (on the to-be-shown tab)<br />
        3. <code>OnHidden</code> (on the previous active tab, the same one as for the <code>OnHiding</code> event)<br />
        4. <code>OnShown</code> (on the newly-active just-shown tab, the same one as for the <code>OnShowing</code> event)<br />
    </p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row"><code>OnHiding</code></th>
                <td>This event fires when a new tab is to be shown (and thus the previous active tab is to be hidden).</td>
            </tr>
            <tr>
                <th scope="row"><code>OnHidden</code></th>
                <td>This event fires after a new tab is shown (and thus the previous active tab is hidden).</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShowing</code></th>
                <td>This event fires on tab show, but before the new tab has been shown.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShown</code></th>
                <td>This event fires on tab show after a tab has been shown.</td>
            </tr>
        </tbody>
    </table>
    <Callout Type="CalloutType.Info">
        If no tab was already active, then the <code>OnHiding</code> and <code>OnHidden</code> events will not be fired.
    </Callout>
</div>
<Demo Type="typeof(Tabs_Demo_07_Events_Order)" />

<SectionHeading Size="HeadingSize.H2" Text="Events - Example" PageUrl="@pageUrl" HashTagName="events-example" />
<Demo Type="typeof(Tabs_Demo_08_Events_Example)" />

<SectionHeading Size="HeadingSize.H2" Text="Set active tab OnAfterRender" PageUrl="@pageUrl" HashTagName="set-active-tab-onafterrender" />
<Demo Type="typeof(Tabs_Demo_09_Set_Active_Tab_OnAfterRender)" />

@code {
    private string pageUrl = "/tabs";
    private string title = "Blazor Tabs Component";
    private string description = "Documentation and examples for how to use Blazor Bootstrap tabs components.";
    private string imageUrl = "https://i.imgur.com/ranwriJ.png";
}