@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@(this)" IsFixed="true">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@Attributes">
        @ChildContent
        @if (Dismissable)
        {
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        }
    </div>
</CascadingValue>