@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@BootstrapClass.Alert @EnumExtensions.AlertColorClassMap[Color] @(Dismissable ? BootstrapClass.AlertDismissable : "") @Class" role="alert" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    @if (Dismissable)
    {
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    }
</div>
