@page "/range-input"
@page "/form/range-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Range Input</h1>
<div class="lead mb-3">
    Blazor Bootstrap <code>RangeInput</code> component is built around HTML input of <code>type="number"</code> that prevents the user input based on the parameters set.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<div class="mb-3"></div>
<Demo Type="typeof(RangeInput_Demo_01_Basic_Usage_A)" Tabs="false" />
<Demo Type="typeof(RangeInput_Demo_01_Basic_Usage_B)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Disabled" PageUrl="@pageUrl" HashTagName="disabled" />
<div class="mb-3">Use the <b>Disabled</b> parameter to disable the <b>RangeInput</b>.</div>
<Demo Type="typeof(RangeInput_Demo_02_Disabled_A)" Tabs="true" />
<div class="my-3">Also, use <b>Enable()</b> and <b>Disable()</b> methods to enable and disable the <b>RangeInput</b>.</div>
<Callout Type="CalloutType.Danger" Heading="Danger">
    Do not use both the <b>Disabled</b> parameter and <b>Enable()</b> &amp; <b>Disable()</b> methods.
</Callout>
<Demo Type="typeof(RangeInput_Demo_02_Disabled_B)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Steps" PageUrl="@pageUrl" HashTagName="steps" />
<div class="mb-3"></div>
<Demo Type="typeof(RangeInput_Demo_03_Steps)" Tabs="true" />

@code {
    private string pageUrl = "/form/range-input";
    private string title = "Blazor RangeInput Component";
    private string description = "Blazor Bootstrap RangeInput component is built around HTML input of type=\"range\" that prevents the user input based on the parameters set."; // TODO: update
    private string imageUrl = "https://i.imgur.com/iUNBkki.png"; // TODO: update
}
