<div class="mb-3">
    <strong>TimeOnly</strong>:
</div>
<div class="mb-3">
    <TimeInput TValue="TimeOnly" @bind-Value="@time1" EnableMinMax="true" Min="@min1" Max="@max1" />
</div>
<div class="mb-3">Min time: @min1</div>
<div class="mb-3">Max time: @max1</div>
<div class="mb-3">Entered time: @time1</div>

<div class="mb-3">
    <strong>TimeOnly?</strong>:
</div>
<div class="mb-3">
    <TimeInput TValue="TimeOnly?" @bind-Value="@time2" EnableMinMax="true" Min="@min2" Max="@max2" />
</div>
<div class="mb-3">Min time: @min2</div>
<div class="mb-3">Max time: @max2</div>
<div class="mb-3">Entered time: @time2</div>

@code {
    private TimeOnly time1, min1, max1;
    private TimeOnly? time2, min2, max2;

    protected override void OnInitialized()
    {
        time1 = new TimeOnly(10, 0); // 10:00 AM
        min1 = new TimeOnly(8, 0); // 08:00 AM
        max1 = new TimeOnly(18, 0); // 06:00 PM

        time2 = null;
        min2 = new TimeOnly(8, 0); // 08:00 AM
        max2 = new TimeOnly(18, 0); // 06:00 PM
    }
}
