@page "/icons"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Icons</h1>
<div class="lead mb-3">
    The Icon component will display an icon from any icon font.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Icon_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Sizes" PageUrl="@pageUrl" HashTagName="sizes" />
<Demo Type="typeof(Icon_Demo_02_Sizes)" />

<SectionHeading Size="HeadingSize.H2" Text="Font awesome icons" PageUrl="@pageUrl" HashTagName="font-awesome-icons" />
<div class="mb-3">
    In the following example, we used <b>Font Awesome 6.4.2</b> free version icons. For Font Awesome setup, please follow the Font Awesome website.
</div>
<Demo Type="typeof(Icon_Demo_03_Font_Awesome_Icons)" />

<SectionHeading Size="HeadingSize.H2" Text="Colors" PageUrl="@pageUrl" HashTagName="colors" />
<Demo Type="typeof(Icon_Demo_04_Colors)" />

<SectionHeading Size="HeadingSize.H2" Text="Inline text with icon" PageUrl="@pageUrl" HashTagName="inline-text-with-icon" />
<Demo Type="typeof(Icon_Demo_05_Inline_Text_With_Icon)" />

<SectionHeading Size="HeadingSize.H2" Text="Link with icon" PageUrl="@pageUrl" HashTagName="link-with-icon" />
<Demo Type="typeof(Icon_Demo_06_A_Link_With_Icon)" />

<SectionHeading Size="HeadingSize.H2" Text="Link with custom icon" PageUrl="@pageUrl" HashTagName="link-with-custom-icon" />
<Demo Type="typeof(Icon_Demo_06_B_Link_With_Custom_Icon)" />

<SectionHeading Size="HeadingSize.H2" Text="Button with icon and text" PageUrl="@pageUrl" HashTagName="button-with-icon-and-text" />
<Demo Type="typeof(Icon_Demo_07_A_Button_With_Icon_And_Text)" />

<SectionHeading Size="HeadingSize.H2" Text="Button with icon only" PageUrl="@pageUrl" HashTagName="button-with-icon-only" />
<Demo Type="typeof(Icon_Demo_07_B_Button_With_Icon_Only)" />

<SectionHeading Size="HeadingSize.H2" Text="Button with font awesome icon" PageUrl="@pageUrl" HashTagName="button-with-font-awesome-icon" />
<div class="mb-3">
    In the following example, we used <b>Font Awesome 6.4.2</b> free version icons. For Font Awesome setup, please follow the Font Awesome website.
</div>
<Demo Type="typeof(Icon_Demo_07_C_Button_With_Font_Awesome_Icon)" />

<SectionHeading Size="HeadingSize.H2" Text="Icon with tooltip" PageUrl="@pageUrl" HashTagName="icon-with-tooltip" />
<Demo Type="typeof(Icon_Demo_09_Tooltip)" />

<SectionHeading Size="HeadingSize.H2" Text="Bootstrap Icons" PageUrl="@pageUrl" HashTagName="bootstrap-icons" />
<Demo Type="typeof(Icon_Demo_10_Bootstrap_Icons)" />

@code{
    private string pageUrl = "/icons";
    private string title = "Blazor Icon Component";
    private string description = "Blazor Bootstrap icon component will display an icon from any icon font.";
    private string imageUrl = "https://i.imgur.com/273TamX.png";
}
