@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl"
              Title="@metaTitle"
              Description="@metaDescription"
              ImageUrl="@imageUrl" />

<PageHero Heading="@pageTitle">
    <LeadSection>@pageDescription</LeadSection>
</PageHero>

<CarbonAds />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <Demo Type="typeof(Breadcrumb_Demo_01_Examples)" />
</Section>

<Section Size="HeadingSize.H2" Name="Dividers" PageUrl="@pageUrl" Link="dividers">
    <Demo Type="typeof(Breadcrumb_Demo_02_Dividers)" />
</Section>

<Section Size="HeadingSize.H2" Name="Embedded SVG icon" PageUrl="@pageUrl" Link="embedded-svg-icon">
    <Demo Type="typeof(Breadcrumb_Demo_03_Embedded_SVG)" />
</Section>

@code {
        private const string pageUrl = RouteConstants.Demos_Breadcrumb_Documentation;
    private const string pageTitle = "Blazor Breadcrumb";
    private const string pageDescription = "Indicate the current page's location within a navigational hierarchy that automatically adds separators.";
    private const string metaTitle = "Blazor Breadcrumb Component";
    private const string metaDescription = "Indicate the current page's location within a navigational hierarchy that automatically adds separators.";
    private const string imageUrl = "https://i.imgur.com/hO90HoC.jpg";
}