@page "/breadcrumb"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Breadcrumb</h1>
<div class="lead mb-3">
    Indicate the current page's location within a navigational hierarchy that automatically adds separators.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Breadcrumb_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Dividers" PageUrl="@pageUrl" HashTagName="dividers" />
<Demo Type="typeof(Breadcrumb_Demo_02_Dividers)" />

<SectionHeading Size="HeadingSize.H2" Text="Embedded SVG icon" PageUrl="@pageUrl" HashTagName="embedded-svg-icon" />
<Demo Type="typeof(Breadcrumb_Demo_03_Embedded_SVG)" />

@code {
    private string pageUrl = "/breadcrumb";
    private string title = "Blazor Breadcrumb Component";
    private string description = "Indicate the current page's location within a navigational hierarchy that automatically adds separators.";
    private string imageUrl = "https://i.imgur.com/hO90HoC.jpg";
}