@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Card" />

<Section Size="HeadingSize.H2" Name="About" PageUrl="@pageUrl" Link="about">
    <div class="mb-3">
        A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
    </div>
</Section>

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <div class="mb-3">
        Below is an example of a basic card with mixed content and a fixed width.
        Cards have no fixed width to start, so they'll naturally fill the full width of its parent element.
    </div>
    <Demo Type="typeof(Card_Demo_01_Examples)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Content types" PageUrl="@pageUrl" Link="content-types">
    <div class="mb-3">
        Cards support a wide variety of content, including images, text, list groups, links, and more.
        Below are examples of what’s supported.
    </div>
</Section>

<Section Size="HeadingSize.H2" Name="Body" PageUrl="@pageUrl" Link="body">
    <div class="mb-3">
        The building block of a card is the <b>CardBody</b>. Use it whenever you need a padded section within a card.
    </div>
    <Demo Type="typeof(Card_Demo_02_Content_Types_Body)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Titles, text, and links" PageUrl="@pageUrl" Link="titles-text-and-links">
    <Demo Type="typeof(Card_Demo_03_Content_Types_Titles_Text_And_Links)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Images" PageUrl="@pageUrl" Link="images">
    <Demo Type="typeof(Card_Demo_04_Content_Types_Images)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="List groups" PageUrl="@pageUrl" Link="list-groups">
    <div class="mb-3">
        Create lists of content in a card with a flush list group.
    </div>
    <Demo Type="typeof(Card_Demo_05_Content_Types_List_Groups)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Kitchen sink" PageUrl="@pageUrl" Link="kitchen-sink">
    <div class="mb-3">
        Mix and match multiple content types to create the card you need, or throw everything in there.
        Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.
    </div>
    <Demo Type="typeof(Card_Demo_06_Content_Types_Kitchen_Sink)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Header and footer" PageUrl="@pageUrl" Link="header-and-footer">
    <div class="mb-3">
        Add an optional header and/or footer within a card.
    </div>
    <Demo Type="typeof(Card_Demo_07_Header_And_Footer)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Sizing" PageUrl="@pageUrl" Link="sizing">
    <div class="mb-3">
        Cards assume no specific width to start, so they’ll be 100% wide unless otherwise stated.
        You can change this as needed with custom CSS, grid classes, grid Sass mixins, or utilities.
    </div>
    <Demo Type="typeof(Card_Demo_08_Sizing)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Text alignment" PageUrl="@pageUrl" Link="text-alignment">
    <div class="mb-3">
        You can quickly change the text alignment of any card—in its entirety or specific parts—with our <b>TextAlignment</b> parameter.
    </div>
    <Demo Type="typeof(Card_Demo_09_Text_Alignment)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Background and color" PageUrl="@pageUrl" Link="background-and-color">
    <Demo Type="typeof(Card_Demo_10_Background_And_Color)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Card groups" PageUrl="@pageUrl" Link="card-groups">
    <div class="mb-3">
        Use card groups to render cards as a single, attached element with equal width and height columns. 
        Card groups start off stacked and use display: flex; to become attached with uniform dimensions starting at the sm breakpoint.
    </div>
    <Demo Type="typeof(Card_Demo_11_Card_Groups)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Card groups with footer" PageUrl="@pageUrl" Link="card-groups-with-footer">
    <div class="mb-3">
        When using card groups with footers, their content will automatically line up.
    </div>
    <Demo Type="typeof(Card_Demo_12_Card_Groups_With_Footer)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Card;
    private const string pageTitle = "Blazor Card";
    private const string pageDescription = "BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.";
    private const string metaTitle = "Blazor Card Component";
    private const string metaDescription = "BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.";
    private const string imageUrl = "https://i.imgur.com/RhytwPa.png";
}
