@page "/charts"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Charts</h1>
<div class="lead mb-3">
    Blazor Bootstrap charts are well-designed chart components on top of <b>Chart.js</b> to visualize data. It contains a rich UI gallery of charts that cater to all charting scenarios. Its high performance helps render large amounts of data quickly.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H4" Text="Blazor Charts Example" PageUrl="@pageUrl" HashTagName="blazor-charts-example" />
<Demo Type="typeof(Charts_Demo_00_Examples)" Tabs="true" />

<SectionHeading Size="HeadingSize.H4" Text="Chart Types" PageUrl="@pageUrl" HashTagName="chart-types" />
<div class="mb-2">At this moment we are supporting four blazor chart types.</div>
<ol>
    <li><a href="/charts/bar-chart">Bar Chart</a></li>
    <li><a href="/charts/doughnut-chart">Doughnut Chart</a></li>
    <li><a href="/charts/line-chart">Line Chart</a></li>
    <li><a href="/charts/pie-chart">Pie Chart</a></li>
</ol>

<Callout Type="CalloutType.Info">
    We will add Bubble Chart, Polar Area Chart, Radar Chart, Scatter Chart, and Mixed Chart support in the subsequent versions.
</Callout>

<SectionHeading Size="HeadingSize.H4" Text="Charts Setup" PageUrl="@pageUrl" HashTagName="charts-setup" />
<div class="mb-3">
    Refer to the <a href="/getting-started/blazor-webassembly">getting started guide</a> for setting up charts.
</div>

@code {
    private string pageUrl = "/charts";
    private string title = "Blazor Charts";
    private string description = "Blazor Bootstrap charts are well-designed chart components on top of Chart.js to visualize data. It contains a rich UI gallery of charts that cater to all charting scenarios. Its high performance helps render large amounts of data quickly.";
    private string imageUrl = "https://i.imgur.com/IX3bajc.png";
}
