@page "/tooltips"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Tooltips</h1>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Tooltips_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Disabled button with tootip" PageUrl="@pageUrl" HashTagName="disabled-button-with-tootip" />
<Demo Type="typeof(Tooltips_Demo_02_Disabled_Button_With_Tooltip)" />

<Callout Type="CalloutType.Success">
    By default, <code>Button</code> supports tooltips via <code>TooltipTitle</code> and <code>TooltipPlacement</code> parameters.
    See <a href="/buttons#tooltip">Buttons - Tooltip</a>.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Icon with click event" PageUrl="@pageUrl" HashTagName="icon-with-click-event" />
<Demo Type="typeof(Tooltips_Demo_03_Icon_With_Click_Event)" />

@*<SectionHeading Size="HeadingSize.H2" Text="Dynamically update the tooltip text" PageUrl="@pageUrl" HashTagName="dynamically-update-the-tooltip-text" />
<Demo Type="typeof(Tooltips_Demo_04_Dynamically_Update_Tooltip_Text)" />

<SectionHeading Size="HeadingSize.H2" Text="Tooltip with link" PageUrl="@pageUrl" HashTagName="tooltip-with-link" />
<Demo Type="typeof(Tooltips_Demo_05_Tooltip_With_Navigation_Link)" />*@

<SectionHeading Size="HeadingSize.H2" Text="Custom tooltips" PageUrl="@pageUrl" HashTagName="custom-tooltips" />
<div class="mb-3">
    Blazor Bootstrap includes several predefined tooltip styles, each serving its own semantic purpose. 
    The <b>Color</b> parameter can be used to customize the color of the tooltip.
</div>
<Demo Type="typeof(Tooltips_Demo_06_Colors)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Dynamically change the tooltip color" PageUrl="@pageUrl" HashTagName="dynamically-change-the-tooltip-color" />
<Demo Type="typeof(Tooltips_Demo_07_Dynamically_Change_Color)" />

<SectionHeading Size="HeadingSize.H2" Text="Tooltip with HTML" PageUrl="@pageUrl" HashTagName="tooltip-with-html" />
<Demo Type="typeof(Tooltips_Demo_08_HTML)" />

@code {
    private string pageUrl = "/tooltips";
    private string title = "Blazor Tooltip Component";
    private string description = "Use Blazor Bootstrap tooltip component to add custom tooltips to your web pages.";
    private string imageUrl = "https://i.imgur.com/PGlmZS3.jpg";
}
