@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_PolarAreaChart" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PolarAreaChart Parameters" PageUrl="@pageUrl" Link="polar-area-chart-parameters">
    <DocxTable TItem="PolarAreaChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PolarAreaChart Methods" PageUrl="@pageUrl" Link="polar-area-chart-methods">
    <DocxTable TItem="PolarAreaChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PolarAreaChartDataset Properties" PageUrl="@pageUrl" Link="polar-area-chart-dataset-properties">
    <DocxTable TItem="PolarAreaChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PolarAreaChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="polar-area-chart-dataset-datalabels-properties">
    <DocxTable TItem="PolarAreaChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PolarAreaChartOptions Properties" PageUrl="@pageUrl" Link="polar-area-chart-options-properties">
    <DocxTable TItem="PolarAreaChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(PolarAreaChart);
    private const string pageUrl = DemoRouteConstants.Docs_URL_PolarAreaChart;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_PolarAreaChart;
}