@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_BarChart" />

<Section Size="HeadingSize.H4" Name="Prerequisites" PageUrl="@pageUrl" Link="prerequisites" />
<div class="mb-3">
    Refer to the <a href="/getting-started/blazor-webassembly">getting started guide</a> for setting up charts.
</div>

<Section Size="HeadingSize.H4" Name="How it works" PageUrl="@pageUrl" Link="how-it-works" />
<div class="mb-3">
    In the following example, a <a href="/utils/color-utility#categorical-12-color">categorical 12-color</a> palette is used.
</div>
<Callout Heading="TIP" Color="CalloutColor.Success">
    For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette.
    These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
</Callout>
<Demo Type="typeof(BarChart_Demo_01_Examples)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Horizontal bar chart" PageUrl="@pageUrl" Link="horizontal-bar-chart" />
<Demo Type="typeof(BarChart_Demo_02_Horizontal_BarChart)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Stacked bar chart" PageUrl="@pageUrl" Link="stacked-bar-chart" />
<Demo Type="typeof(BarChart_Demo_03_Stacked_BarChart)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Grouped stacks" PageUrl="@pageUrl" Link="grouped-stacks" />
<div class="my-3">
    Set the <code>Stack</code> property on each dataset to group bars into separate stacked series within the same chart.
</div>
<Demo Type="typeof(BarChart_Demo_08_Grouped_Stacks)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Border radius" PageUrl="@pageUrl" Link="border-radius" />
<div class="my-3">
    Use <code>BorderRadius</code> on each dataset to soften bar edges and create rounded columns.
</div>
<Demo Type="typeof(BarChart_Demo_09_Border_Radius)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Locale" PageUrl="@pageUrl" Link="locale" />
<div class="my-3">
    By default, the chart is using the default locale of the platform on which it is running.
    In the following example, you will see the chart in the <b>German</b> locale (<b>de_DE</b>).
</div>
<Demo Type="typeof(BarChart_Demo_04_Locale)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Data labels" PageUrl="@pageUrl" Link="data-labels" />
<Demo Type="typeof(BarChart_Demo_05_Stacked_BarChart_with_Datalabels)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Animation delay" PageUrl="@pageUrl" Link="animation-delay" />
<div class="my-3">
    Configure chart-level animation timing through <code>ChartOptions.Animation</code> to delay or pace the initial render.
</div>
<Demo Type="typeof(BarChart_Demo_10_Animation_Delay)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Dataset animation" PageUrl="@pageUrl" Link="dataset-animation" />
<div class="my-3">
    You can configure animations globally on the chart options or per dataset to stagger how each series enters the chart.
</div>
<Demo Type="typeof(BarChart_Demo_07_Dataset_Animation)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Combo bar/line" PageUrl="@pageUrl" Link="combo-bar-line" />
<div class="my-3">
    Mix <code>BarChartDataset</code> and <code>LineChartDataset</code> in the same chart to combine columns with a trend line.
</div>
<Demo Type="typeof(BarChart_Demo_11_Combo_Bar_Line)" Tabs="true" />

<Section Size="HeadingSize.H4" Name="Click event" PageUrl="@pageUrl" Link="click-event" />
<Demo Type="typeof(BarChart_Demo_06_Click_Event)" Tabs="true" />

<ChartJSCallout />

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_BarChart;
    private const string pageTitle = "Blazor Bar Chart";
    private const string pageDescription = "A Blazor Bootstrap bar chart component is used to represent data values as vertical bars. It is sometimes used to show trend data and to compare multiple data sets side by side.";
    private const string metaTitle = "Blazor Bar Chart Component";
    private const string metaDescription = "A Blazor Bootstrap bar chart component is used to represent data values as vertical bars. It is sometimes used to show trend data and to compare multiple data sets side by side.";
    private const string imageUrl = "https://i.imgur.com/IX3bajc.png";
}
