@page "/badge"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Badge</h1>
<div class="lead mb-3">
    The Blazor Bootstrap <code>Badge</code> component shows the small count and labels.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3">
    Badges scale to match the size of the immediate parent element by using relative font sizing and <code>em</code> units.
    As of now, badges no longer have focus or hover styles for links.
</div>
<Demo Type="typeof(Badge_Demo_01_Examples)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Background colors" PageUrl="@pageUrl" HashTagName="background-colors" />
<Demo Type="typeof(Badge_Demo_02_Background_Colors)" Tabs="false" />
<Callout Heading="Conveying meaning to assistive technologies" Type="CalloutType.Info">
    Using color to add meaning only provides a visual indication, which will not be conveyed to users of assistive technologies – such as screen readers.
    Ensure that information denoted by the color is either obvious from the content itself (e.g., the visible text) or is included through alternative means, such as additional text hidden with the <code>VisuallyHiddenText</code> parameter.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Pill badges" PageUrl="@pageUrl" HashTagName="pill-badges" />
<div class="mb-3">
    Use the <code>IndicatorType</code> parameter to make badges more rounded with a larger border-radius.
</div>
<Demo Type="typeof(Badge_Demo_03_Pill_Badges)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Buttons" PageUrl="@pageUrl" HashTagName="buttons" />
<div class="mb-3">
    Badges can be used as part of links or buttons to provide a counter.
</div>
<Demo Type="typeof(Badge_Demo_04_Buttons)" Tabs="true" />
<div class="mt-3">
    <p>Note that depending on how they are used, badges may be confusing for users of screen readers and similar assistive technologies. While the styling of badges provides a visual cue as to their purpose, these users will simply be presented with the content of the badge. Depending on the specific situation, these badges may seem like random additional words or numbers at the end of a sentence, link, or button.</p>
    <p>Unless the context is clear (as with the “Notifications” example, where it is understood that the “4” is the number of notifications), consider including additional context with a visually hidden piece of additional text.</p>
</div>

<SectionHeading Size="HeadingSize.H2" Text="Positioned" PageUrl="@pageUrl" HashTagName="positioned" />
<div class="mb-3">
    Use <code>Position</code> and <code>Placement</code> parameters to position it in the corner of a link or button.
</div>
<Demo Type="typeof(Badge_Demo_05_Positioned)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Generic indicator" PageUrl="@pageUrl" HashTagName="generic-indicator" />
<div class="mb-3">
    You can also replace the badge with a generic indicator without the count.
</div>
<Demo Type="typeof(Badge_Demo_06_Generic_Indicator)" Tabs="false" />

@code {
    private string pageUrl = "/badge";
    private string title = "Blazor Badge Component";
    private string description = "The Blazor Bootstrap Badge component shows the small count and labels.";
    private string imageUrl = "https://i.imgur.com/ux0sTs9.png";
}
