@namespace BlazorBootstrap
@inherits BaseComponent

<nav @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <SidebarItem2 PrefixIconName="IconName.HouseDoorFill" Href="/getting-started" Text="Navigation" HasChilds="true" ChildItems="childItems" />
    <SidebarItem2 PrefixIconName="IconName.CheckCircleFill" Href="/alerts" Text="Alerts" />
    <SidebarItem2 PrefixIconName="IconName.InputCursorText" Href="/autocomplete" Text="AutoComplete" />
    <SidebarItem2 PrefixIconName="IconName.SegmentedNav" Href="/breadcrumb" Text="Breadcrumb" />
    <SidebarItem2 PrefixIconName="IconName.ToggleOn" Href="/buttons" Text="Buttons" />
</nav>