@namespace BlazorBootstrap
@inherits BaseComponent

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (HasChilds)
    {
        <NavLink class="nav-link fw-semibold" role="button" @onclick="ToggleNavItemGroup">
            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon">
                    <Icon Name="@PrefixIconName" Class="me-2" aria-hidden="true" />
                </span>
            }
            else
            {
                <span class="nav-link-icon">
                    <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                        <Icon Name="@PrefixIconName" Class="me-2" aria-hidden="true" />
                    </Tooltip>                    
                </span>
            }
            <span class="nav-link-text expanded-only">@Text</span>
            @if (navitemGroupExpanded)
            {
                <span class="nav-link-arrow float-end expanded-only">
                    <Icon Name="IconName.ChevronDown" />
                </span>
            }
            else
            {
                <span class="nav-link-arrow float-end expanded-only">
                    <Icon Name="IconName.ChevronRight" />
                </span>
            }
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link" href="@Href" Match="NavLinkMatch.All">
            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon">
                    <Icon Name="@PrefixIconName" Class="me-2" aria-hidden="true" />
                </span>
            }
            else
            {
                <span class="nav-link-icon">
                    <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                        <Icon Name="@PrefixIconName" Class="me-2" aria-hidden="true" />
                    </Tooltip>
                </span>
            }
            <span class="nav-link-text expanded-only">@Text</span>
        </NavLink>
    }

    @if (navitemGroupExpanded && HasChilds && ChildItems is not null && ChildItems.Any())
    {
        @foreach (var childItem in ChildItems) // TODO: Handle sequence
        {
            <SidebarItem2 PrefixIconName="@childItem.PrefixIconName" Href="@childItem.Href" Text="@childItem.Text" />
        }
    }
</div>