@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (HasChilds)
    {
        <NavLink class="nav-link" style="@navLinkStyle" role="button" @onclick="ToggleNavItemGroup">
            @{
                var navLinkArrowCssClass = "";
                if (Level == 0 && NavItemGroupExpanded)
                    navLinkArrowCssClass = "ps-1";
                else if (Level > 0 && !NavItemGroupExpanded)
                    navLinkArrowCssClass = "ps-1";
                else if (Level > 0)
                    navLinkArrowCssClass = "ps-2";
            }
            <span class="nav-link-arrow @navLinkArrowCssClass expanded-only">
                <Icon Name="@(NavItemGroupExpanded ? IconName.ChevronDown : IconName.ChevronRight)"/>
            </span>

            @* <span class="nav-link-icon ms-2">
                <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
            </span> *@

            @{
                var navLinkTextCssClass = "ms-2";
                if (NavItemGroupExpanded)
                    navLinkTextCssClass += " fw-semibold";
            }
            <span class="nav-link-text @navLinkTextCssClass expanded-only">@Text</span>
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link" style="@navLinkStyle" href="@Href" target="@targetString" Match="@Match" @onclick="AutoHideNavMenu">
            @{
                var navLinkArrowCssClass = "ps-2";
                if (Level == 0)
                    navLinkArrowCssClass = "";
            }
            <span class="nav-link-icon @navLinkArrowCssClass">
                <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
            </span>

            @{
                var navLinkTextCssClass = "ms-2";
            }
            <span class="nav-link-text @navLinkTextCssClass expanded-only">@Text</span>
        </NavLink>
    }

    @if (NavItemGroupExpanded && HasChilds && ChildItems is not null && ChildItems.Any())
    {
        @foreach (var childItem in ChildItems)
        {
            <Sidebar2Item IconName="@childItem.IconName"
                          CustomIconName="@childItem.CustomIconName"
                          IconColor="@childItem.IconColor"
                          Href="@childItem.Href"
                          Text="@childItem.Text"
                          Target="@childItem.Target"
                          Match="@childItem.Match"
                          HasChilds="@childItem.HasChildItems"
                          ChildItems="@childItem.ChildItems"
                          Class="@childItem.Class"
                          Level="@childItem.Level" />
        }
    }
</div>
