@using BlazorBootstrap
@page "/charts"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Charts</h1>
<div class="mb-3">
    BlazorBootstrap's callout component provides presentation of content in a visually distinct manner. Includes a heading, icon and typically text-based content.
</div>

<SectionHeading Size="HeadingSize.H4" Text="Examples" PageUrl="@pageUrl" HashTagName="chart-examples" />
<Demo Type="typeof(Charts_Demo_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Bar Chart" PageUrl="@pageUrl" HashTagName="bar-chart" />
<Demo Type="typeof(Charts_Demo_01_BarChart_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Doughnut Chart" PageUrl="@pageUrl" HashTagName="doughnut-chart" />
<Demo Type="typeof(Charts_Demo_03_DoughnutChart_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Line Chart" PageUrl="@pageUrl" HashTagName="line-chart" />
<Demo Type="typeof(Charts_Demo_04_LineChart_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Pie Chart" PageUrl="@pageUrl" HashTagName="pie-chart" />
<Demo Type="typeof(Charts_Demo_05_PieChart_Examples)" />

@code {
    private string pageUrl = "/charts";
    private string title = "Blazor Charts | BlazorBootstrap";
    private string description = "<<TODO: Update this>>";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg";
}