@using BlazorBootstrap
@page "/charts"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Blazor Charts</h1>
<div class="mb-3">
    BlazorBootstrap's charts are well-designed chart components on top of Chart.js to visualize data. It contains a rich UI gallery of charts that cater to all charting scenarios. Its high performance helps render large amounts of data quickly.
</div>

<SectionHeading Size="HeadingSize.H4" Text="Blazor Charts Example" PageUrl="@pageUrl" HashTagName="blazor-charts-example" />
<Demo Type="typeof(Charts_Demo_00_Examples)" Tabs="true" />

<SectionHeading Size="HeadingSize.H4" Text="Chart Types" PageUrl="@pageUrl" HashTagName="chart-types" />
<div class="mb-2">At this moment we are supporting four blazor chart types.</div>
<ol>
    <li>Bar Chart</li>
    <li>Doughnut Chart</li>
    <li>Line Chart</li>
    <li>Pie Chart</li>
</ol>

<Callout Type="CalloutType.Info">
    We will add Bubble Chart, Polar Area Chart, Radar Chart, Scatter Chart, and Mixed Chart support in the subsequent versions.
</Callout>

<SectionHeading Size="HeadingSize.H4" Text="Charts Setup" PageUrl="@pageUrl" HashTagName="charts-setup" />
Refer <a href="http://getblazorbootstrap.com/docs/intro#starter-template">starter template</a> for charts setup.

<SectionHeading Size="HeadingSize.H4" Text="Bar Chart" PageUrl="@pageUrl" HashTagName="bar-chart" />
<Demo Type="typeof(Charts_Demo_01_BarChart_Examples)" Tabs="true" />

<SectionHeading Size="HeadingSize.H4" Text="Doughnut Chart" PageUrl="@pageUrl" HashTagName="doughnut-chart" />
<Demo Type="typeof(Charts_Demo_03_DoughnutChart_Examples)" Tabs="true" />

<SectionHeading Size="HeadingSize.H4" Text="Line Chart" PageUrl="@pageUrl" HashTagName="line-chart" />
<Demo Type="typeof(Charts_Demo_04_LineChart_Examples)" Tabs="true" />

<SectionHeading Size="HeadingSize.H4" Text="Pie Chart" PageUrl="@pageUrl" HashTagName="pie-chart" />
<Demo Type="typeof(Charts_Demo_05_PieChart_Examples)" Tabs="true" />

@*<SectionHeading Size="HeadingSize.H4" Text="Colors" PageUrl="@pageUrl" HashTagName="colors" />
<Demo Type="typeof(Utils_Colors)" />*@

@code {
    private string pageUrl = "/charts";
    private string title = "Blazor Charts | Blazor Bootstrap";
    private string description = "Blazor Bootstrap charts are well-designed chart components on top of Chart.js to visualize data. It contains a rich UI gallery of charts that cater to all charting scenarios. Its high performance helps render large amounts of data quickly.";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg";
}