@page "/grid/translations"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Grid</h1>
<div class="lead mb-3">
    Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging & sorting.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Translations" PageUrl="@pageUrl" HashTagName="translations" />
<div class="mb-3">In the example below, you will see translations related to pagination and filters in <b>Dutch</b>.</div>
<Demo Type="typeof(Grid_Demo_31_Translations)" Tabs="true" />

@code {
    private string pageUrl = "/grid";
    private string title = "Blazor Grid Component";
    private string description = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
