@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Fixed header" PageUrl="@pageUrl" Link="fixed-header">
    <div class="mb-3">
        To set the fixed header, set the <b>FixedHeader</b> parameter to <b>true</b>. The minimum height of the grid is <b>320 pixels</b>.
        You can change the units to em, pt, px, or etc. by setting the <b>Unit</b> parameter.
    </div>
    <Demo Type="typeof(Grid_Demo_32_Fixed_Header_A)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Fixed header with filters" PageUrl="@pageUrl" Link="fixed-header-with-filters">
    <Demo Type="typeof(Grid_Demo_32_Fixed_Header_B_With_Filters)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_FixedHeader;
    private const string pageTitle = "Blazor Grid - Fixed header";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Fixed header";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
