@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<CascadingValue Name="Carousel" Value="(this)" IsFixed="true">
    <div>@HasItems</div>
    <div>@ItemCount</div>
    <div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
        
        @if (ShowIndicators)// && HasItems)
        {
            <div class="@BootstrapClass.CarouselIndicators">
                @{
                    var i = 0;
                    foreach (var item in items)
                    {
                        <button type="button" data-bs-target="#@Id" data-bs-slide-to="@i" aria-label="Slide @(i + 1)"></button>
                        i++;
                    }
                }
            </div>
        }

        <div class="@BootstrapClass.CarouselInner">
            @ChildContent
        </div>

        @if (ShowPreviousNextControls)
        {
            <button class="carousel-control-prev" type="button" data-bs-target="#@Id" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#@Id" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        }
    </div>
</CascadingValue>