@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element"
     id="@Id"
     class="@BootstrapClass.CarouselItem @(Active ? BootstrapClass.Active : "") @Class"
     data-bs-interval="@Interval"
     @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>