@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@AdditionalAttributes">
    @if (ShowIndicators)
    {
        <div class="@BootstrapClass.CarouselIndicators">
            <button type="button" data-bs-target="#@Id" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#@Id" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#@Id" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    }

    <div class="@BootstrapClass.CarouselInner">
        @ChildContent
    </div>

    @if (ShowPreviousNextControls)
    {
        <button class="carousel-control-prev" type="button" data-bs-target="#@Id" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#@Id" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    }
</div>