@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element"
     id="@Id"
     class="@ClassNames"
     style="@StyleNames"
     data-bs-interval="@Interval"
     @attributes="@AdditionalAttributes">
    @ChildContent
</div>