@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@BootstrapClass.CarouselCaption @BootstrapClass.DisplayBlock @BootstrapClass.DisplayMediumBlock @Class" role="alert" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>