@attribute [Route(pageUrl)]

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>@heading</h1>
<div class="lead mb-3">@description</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Client side paging" PageUrl="@pageUrl" HashTagName="client-side-paging" />
<div>For paging, <code>AllowPaging</code> and <code>PageSize</code> parameters are required.</div>
<div class="mb-2">Add <code>AllowPaging="true"</code> and <code>PageSize="20"</code> parameters to the Grid. <code>PageSize</code> parameter is optional.</div>
<Callout Color="CalloutColor.Info">The default page size is 10.</Callout>
<Demo Type="typeof(Grid_Demo_02_Client_Side_Paging)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Dynamic page size" PageUrl="@pageUrl" HashTagName="dynamic-page-size" />
<div class="mb-3"></div>
<Demo Type="typeof(Grid_Demo_25_Dynamic_Page_Size)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Page size selection" PageUrl="@pageUrl" HashTagName="page-size-selection" />
<div class="mb-3"></div>
<Demo Type="typeof(Grid_Demo_26_Page_Size_Selection)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Auto hide paging" PageUrl="@pageUrl" HashTagName="auto-hide-paging" />
<Demo Type="typeof(Grid_Demo_34_AutoHide_Paging)" Tabs="true" />

@code {
    private const string pageUrl = "/grid/paging";
    private const string title = "Blazor Grid Component - Paging";
    private const string heading = "Blazor Grid - Paging";
    private const string description = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
