@page "/getting-started"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Getting started</h1>
<div class="lead mb-3">Get started with the Enterprise-class Blazor Bootstrap Component library built on the Blazor and Bootstrap CSS framework.</div>

<SectionHeading Size="HeadingSize.H2" Text="Install Nuget Package" PageUrl="@pageUrl" HashTagName="install-nuget-package" />
<div>Looking to quickly add <b>Blazor Bootstrap</b> to your project? Use NuGet package manager.</div>
<div class="text-bg-dark p-2 mt-3 rounded-2">Install-Package Blazor.Bootstrap -Version @version</div>

<SectionHeading Size="HeadingSize.H2" Text="Starter template" PageUrl="@pageUrl" HashTagName="starter-template" />
<div>Change your <code>index.html</code> file and include the <b>CSS</b> and <b>JS</b> files:</div>
<div>
    <ul>
        <li>Add <code>Bootstrap 5.x</code> CSS and JS files as recommended in the official <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a> website.</li>
        <li>Add <code>Bootstrap Icons 1.x</code> CSS file as recommended in the official <a href="https://icons.getbootstrap.com/#install" target="_blank">Bootstrap Icons</a> website.</li>
        <li>Include <code>blazor.bootstrap.js</code> file</li>
        <li>Include <code>blazor.bootstrap.css</code> file</li>
    </ul>
</div>
<CodeSnippet File="~\Pages\GettingStarted\v1_1_0\Snippet_01_Starter_Template_Index.html" />

<Callout Type="CalloutType.Tip">
    Add <code>chart.js</code> reference if the <b>Chart</b> components are used in the application.
</Callout>

<div>Add Blazor Bootstrap service in the <b>Program.cs</b></div>
<CodeSnippet File="~\Pages\GettingStarted\v1_1_0\Snippet_02_Starter_Template_Program.cs" />

<div>Register tag helpers in <b>_Imports.razor</b></div>
<CodeSnippet File="~\Pages\GettingStarted\v1_1_0\Snippet_03_Starter_Template_Imports.razor" />

@code {
    private string pageUrl = "/getting-started";
    private string title = "Getting started with Blazor Bootstrap";
    private string description = "High-performance, lightweight, and responsive blazor bootstrap components in a single package from the developers for the developers.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";

    private string version;
    [Inject] public IConfiguration Configuration { get; set; }

    protected override void OnInitialized()
    {
        version = $"{Configuration.GetValue<string>("version")}"; // example: v0.6.1
        base.OnInitialized();
    }
}