@using BlazorBootstrap

@page "/progress"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Progress</h1>
<div class="mb-3">Documentation and examples for using Blazor progress bars featuring support for stacked bars, animated backgrounds, and text labels.</div>

<SectionHeading Size="HeadingSize.H2" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<Demo Type="typeof(Progress_Demo_01_How_It_Works)" />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Progress_Demo_02_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Labels" PageUrl="@pageUrl" HashTagName="labels" />
<div>Add labels to your Blazor ProgressBar component using the <code>Label</code> parameter or by calling the <code>SetLabel(...)</code> method.</div>
<Demo Type="typeof(Progress_Demo_03_Labels)" />

<SectionHeading Size="HeadingSize.H2" Text="Height" PageUrl="@pageUrl" HashTagName="height" />
<div>Set the height of the Blazor Progress by using the <code>Height</code> parameter. Height is measured in <b>pixels</b>.</div>
<Demo Type="typeof(Progress_Demo_04_Height)" />

<SectionHeading Size="HeadingSize.H2" Text="Backgrounds" PageUrl="@pageUrl" HashTagName="backgrounds" />
<div>Use the <code>Color</code> parameter or the <code>SetColor(ProgressColor color)</code> method to change the appearance of individual Blazor ProgressBar components.</div>
<Demo Type="typeof(Progress_Demo_05_Backgrounds)" />

<SectionHeading Size="HeadingSize.H2" Text="Multiple bars" PageUrl="@pageUrl" HashTagName="multiple-bars" />
<div>Include multiple Blazor ProgressBar components in a Blazor Progress component if needed.</div>
<Demo Type="typeof(Progress_Demo_06_MultipleBars)" />

<SectionHeading Size="HeadingSize.H2" Text="Striped" PageUrl="@pageUrl" HashTagName="striped" />
<div>Add <code>Type="ProgressType.Striped"</code> to any Blazor ProgressBar component to apply a stripe.</div>
<Demo Type="typeof(Progress_Demo_07_Striped)" />

<SectionHeading Size="HeadingSize.H2" Text="Animated stripes" PageUrl="@pageUrl" HashTagName="animated-stripes" />
<div>The stripes can also be animated. Add <code>Type="ProgressType.StripedAndAnimated"</code> to the Blazor ProgressBar component to animate the stripes right to the left.</div>
<Demo Type="typeof(Progress_Demo_08_Animated_Stripes)" />

@*<Button Type="ButtonType.Button" Color="ButtonColor.Danger" @onclick="SetColor">Set Danger Color</Button>*@

@code {
    private string pageUrl = "/progress";
    private string title = "Blazor Progress Component | BlazorBootstrap";
    private string description = "Documentation and examples for using Bootstrap custom progress bars featuring support for stacked bars, animated backgrounds, and text labels.";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg";

    //private void SetColor() => progressBar.SetColor(ProgressColor.Danger);
}
