@namespace BlazorBootstrap
@inherits BlazorBootstrapChart

<div style="@ContainerStyles">
    <canvas @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes"></canvas>
</div>