@namespace BlazorBootstrap
@inherits BaseChart<TChartDataset>
@typeparam TChartDataset

<div style="@chartContainerStyle">
    <canvas @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes"></canvas>
</div>