@namespace BlazorBootstrap
@inherits BlazorBootstrapChart

<div style="@ContainerStyle">
    <canvas @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></canvas>
</div>
