@namespace BlazorBootstrap
@inherits BlazorBootstrapChart

<div style="@ContainerStyle">
    <canvas @ref="@Element" id="@Id" width="@(Width ?? 300)px" height="@(Height ?? 150)px" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes"></canvas>
</div>
