@namespace BlazorBootstrap
@inherits BlazorBootstrapChart

<div style="@ContainerStyle">
    <canvas @ref="@Element" id="@Id" width="@Width" height="@Height" class="@Class" @attributes="@AdditionalAttributes"></canvas>
</div>
