@namespace BlazorBootstrap
@inherits BlazorBootstrapChart

<div style="@ContainerStyles">
    <canvas @attributes="@Attributes" class="@ClassNames" id="@ElementId" @ref="@ElementRef" style="@StyleNames"></canvas>
</div>