@page "/getting-started"
@page "/getting-started/blazor-webassembly"
@page "/getting-started/blazor-server"
@page "/getting-started/maui-blazor"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Getting started - Blazor Bootstrap</h1>
<div class="lead mb-3">Get started with the Enterprise-class Blazor Bootstrap Component library built on the Blazor and Bootstrap CSS framework.</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Documentation" PageUrl="@pageUrl" HashTagName="documentation" />
<div class="mb-3">
    Please find the getting started documentation links, corresponding to each .NET version and project type, listed below:
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width:20px;">#</th>
            <th scope="col" style="width:115px;">.NET Version</th>
            <th scope="col">Documentation Link</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>1</td>
            <td>.NET 8</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-webassembly-net-8" target="_blank">Blazor WebAssembly (.NET 8)</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>.NET 8</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-webapp-server-global-net-8" target="_blank">Blazor WebApp (.NET 8) - Interactive render mode Server - Global location</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>.NET 8</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-webapp-auto-global-net-8" target="_blank">Blazor WebApp (.NET 8) - Interactive render mode Auto - Global location</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>.NET 8</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/maui-blazor-net-8" target="_blank">MAUI Blazor Hybrid App (.NET 8)</a></td>
        </tr>
    </tbody>
</table>


<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width:20px;">#</th>
            <th scope="col" style="width:115px;">.NET Version</th>
            <th scope="col">Documentation Link</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>1</td>
            <td>.NET 7</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-webassembly-net-7" target="_blank">Blazor WebAssembly (.NET 7)</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>.NET 7</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-server-net-7" target="_blank">Blazor Server (.NET 7)</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>.NET 7</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/maui-blazor-net-7" target="_blank">MAUI Blazor Hybrid App (.NET 7)</a></td>
        </tr>
    </tbody>
</table>



<table class="table">
    <thead>
        <tr>
            <th scope="col" style="width:20px;">#</th>
            <th scope="col" style="width:115px;">.NET Version</th>
            <th scope="col">Documentation Link</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        <tr>
            <td>1</td>
            <td>.NET 6</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-webassembly-net-6" target="_blank">Blazor WebAssembly (.NET 6)</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>.NET 6</td>
            <td><a href="https://docs.blazorbootstrap.com/getting-started/blazor-server-net-6" target="_blank">Blazor Server (.NET 6)</a></td>
        </tr>
    </tbody>
</table>


@code {
    private string pageUrl = "/getting-started/blazor-webassembly";
    private string title = "Getting started with Blazor Bootstrap - Blazor WebAssembly Project Setup";
    private string description = "High-performance, lightweight, and responsive blazor bootstrap components in a single package from the developers for the developers.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";

    private string? version;
    [Inject] public IConfiguration Configuration { get; set; } = default!;

    protected override void OnInitialized()
    {
        version = Configuration["version"]; // example: v0.6.1
        base.OnInitialized();
    }
}
