<div class="overflow-x-auto">
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[0]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 0 <br /> Color: {@ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 0 <br /> Color: {@ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 0 <br /> Color: {@ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 0 <br /> Color: {@ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 0 <br /> Color: {@ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[0].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[1]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 1 <br /> Color: {@ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 1 <br /> Color: {@ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 1 <br /> Color: {@ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 1 <br /> Color: {@ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 1 <br /> Color: {@ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[1].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[2]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 2 <br /> Color: {@ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 2 <br /> Color: {@ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 2 <br /> Color: {@ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 2 <br /> Color: {@ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 2 <br /> Color: {@ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[2].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[3]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 3 <br /> Color: {@ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 3 <br /> Color: {@ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 3 <br /> Color: {@ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 3 <br /> Color: {@ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 3 <br /> Color: {@ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[3].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[4]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 4 <br /> Color: {@ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 4 <br /> Color: {@ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 4 <br /> Color: {@ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 4 <br /> Color: {@ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 4 <br /> Color: {@ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[4].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
    <div class="d-flex flex-row m-1">

        <div class="m-1" style="width:64px;height:48px;">@ColorUtility.CategoricalTwelveColors[5]</div>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 5 <br /> Color: {@ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbString().ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5];width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 5 <br /> Color: {@ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.8).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.8);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 5 <br /> Color: {@ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.6).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.6);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 5 <br /> Color: {@ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.4).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.4);width:48px;height:48px;"></div>
        </Tooltip>

        <Tooltip IsHtml="true" Color="TooltipColor.Dark" Title="@($"Index: 5 <br /> Color: {@ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.2).ToLowerInvariant()}")">
            <div class="m-1" style="background-color: @ColorUtility.CategoricalTwelveColors[5].ToColor().ToRgbaString(0.2);width:48px;height:48px;"></div>
        </Tooltip>

    </div>
</div>
