@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div class="container">
    <div style="min-height:200px;max-height:400px;overflow-x:hidden;overflow-y:auto;">
        @foreach (var message in conversationHistory)
        {
            <div class="row p-2">
                <div class="col-1 rounded-circle bg-dark-subtle text-center m-2 p-0"
                     style="width:50px;height:50px;">
                    <span class="bi fs-2 @(message.Role == "user" ? "bi-person-fill" : "bi-robot")"></span>
                </div>
                <div class="col-11 rounded p-3 shadow-sm @(message.Role == "user" ? "text-bg-primary" : "text-bg-light")">
                    @if (message.Role == "user")
                    {
                        @message.Content
                    }
                    else
                    {
                        @((MarkupString)message.Content)
                    }
                </div>
            </div>
        }
        @if (!string.IsNullOrWhiteSpace(currentCompletion))
        {
            <div class="row">
                <div class="col-1 rounded-circle bg-dark-subtle text-center m-2 p-0"
                     style="width:50px;height:50px;">
                    <span class="bi fs-2 bi-robot"></span>
                </div><div class="col-11 rounded p-3 shadow-sm text-bg-light">
                    @((MarkupString)currentCompletion!)
                </div>
            </div>
        }
    </div>

    <div class="p-3 rounded">
        @if (isRequestInProgress)
        {
            <div class="text-center">
                <div class="spinner-border spinner-border-sm" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        }
        <div>
            <textarea rows="2"
                      class="form-control mb-2"
                      placeholder="Enter a prompt here."
                      @bind-value="userPrompt"
                      @bind-value:event="oninput"
                      disabled="@isRequestInProgress">
            </textarea>
            <span class="text-primary float-end" role="button" @onclick="SendPromptAsync">Submit<i class="bi bi-arrow-up-circle-fill ms-1"></i></span>
        </div>
    </div>
</div>