@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Example" PageUrl="@pageUrl" Link="example">
    <div class="mb-3">
        To enable summaries on columns, set the <code>AllowSummary</code> parameter to <b>true</b> at the Grid level. Additionally, set the <code>SummaryType</code> parameter on each GridColumn.
        <br />
        In the following example, the Employee Name column has <code>SummaryType</code> set to <b>GridSummaryColumnType.Count</b>, and the <b>Salary</b> column has <code>SummaryType</code> set to <b>GridSummaryColumnType.Sum</b> and <code>SummaryValueDisplayFormat</code> set to <b>C</b> to display the sum of salaries in currency format.
    </div>
    <Callout Color="CalloutColor.Info">
        <div>
            <code>GridSummaryColumnType</code>: Average, Count, Max, Min, Sum. Default value is <code>GridSummaryColumnType.None</code>.
        </div>
    </Callout>
    <Demo Type="typeof(Grid_Demo_01_Summary_Example)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Summary with Filters and Paging" PageUrl="@pageUrl" Link="summary-with-filters-paging">
    <div class="mb-3">
        Summaries will be calculated based on the current page data.
    </div>
    <Demo Type="typeof(Grid_Demo_02_Summary_with_Filters_Paging)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Change prefix" PageUrl="@pageUrl" Link="change-prefix">
    <div class="mb-3">
        Set the <code>SummaryValuePrefix</code> parameter to custom string to change the prefix from the summary value.
    </div>
    <Demo Type="typeof(Grid_Demo_03_Change_Prefix)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Remove prefix" PageUrl="@pageUrl" Link="remove-prefix">
    <div class="mb-3">
        Set the <code>SummaryValuePrefix</code> parameter to empty string to remove the prefix from the summary value.
    </div>
    <Demo Type="typeof(Grid_Demo_04_Remove_Prefix)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Locale" PageUrl="@pageUrl" Link="locale">
    <div class="mb-3">
        Set the <code>Locale</code> parameter on the Grid to change the <code>CultureInfo</code> of the summary.
    </div>
    <Demo Type="typeof(Grid_Demo_05_Locale)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_Summary;
    private const string pageTitle = "Blazor Grid - Summary";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Summary";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/eetvhBB.png";
}
