@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ContainerClassNames" style="@ContainerStyleNames">
    @for (int i = 0; i < Length; i++)
    {
        var index = i;
        var inputId = GetInputId(index);

        <input type="text"
               id="@inputId"
               class="@ClassNames"
               style="@StyleNames"
               maxlength="1"
               inputmode="numeric"
               value="@otpValues[index]"
               @oninput="(e) => OnInput(e, index)"
               @onkeyup="(e) => OnKeyUp(e, index)" />
    }
</div>