@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_LineChart" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="LineChart Parameters" PageUrl="@pageUrl" Link="line-chart-parameters">
    <DocxTable TItem="LineChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="LineChart Methods" PageUrl="@pageUrl" Link="line-chart-methods">
    <DocxTable TItem="LineChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="LineChartDataset Properties" PageUrl="@pageUrl" Link="line-chart-dataset-properties">
    <DocxTable TItem="LineChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="LineChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="line-chart-dataset-datalabels-properties">
    <DocxTable TItem="LineChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="LineChartOptions Properties" PageUrl="@pageUrl" Link="line-chart-options-properties">
    <DocxTable TItem="LineChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(LineChart);
    private const string pageUrl = DemoRouteConstants.Docs_URL_LineChart;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_LineChart;
}