@page "/layout"
@page "/layout-setup/blazor-webassembly"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Layout Setup - Blazor WebAssembly </h1>
<div class="lead mb-3">Get started with the Enterprise-class Blazor Bootstrap Component library built on the Blazor and Bootstrap CSS framework.</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Prerequisites" PageUrl="@pageUrl" HashTagName="prerequisites" />
<div class="mb-3">
    Assuming you followed the getting started docs for the initial setup.
    <ol class="mt-2">
        <li><b>Blazor WebAssembly Project:</b> Follow the <a href="/getting-started/blazor-webassembly">getting started</a> steps for the initial setup.</li>
        <li><b>Blazor Server Project:</b> Follow the <a href="/getting-started/blazor-server">getting started</a> steps for the initial setup.</li>
    </ol>
</div>

<SectionHeading Size="HeadingSize.H2" Text="Steps" PageUrl="@pageUrl" HashTagName="steps" />
<div class="mb-3">
    1. Replace <b>MainLayout.razor</b> page code with the below code.
</div>
<Callout Type="CalloutType.Danger" Heading="NOTE">
    Remove all the CSS content from the <b>Shared/MainLayout.razor.css</b> file.
</Callout>

<CodeSnippet File="~\Pages\Layout\webassembly\Layout_WebAssembly_Demo_01.razor" />

@code {
    private string pageUrl = "/layout-setup/blazor-webassembly";
    private string title = "Blazor Bootstrap Layout Setup - Blazor WebAssembly";
    private string description = "High-performance, lightweight, and responsive blazor bootstrap components in a single package from the developers for the developers.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";

    private string version = default!;

    [Inject] public IConfiguration Configuration { get; set; } = default!;

    protected override void OnInitialized()
    {
        version = Configuration["version"]!; // example: v0.6.1
        base.OnInitialized();
    }
}
