@page "/charts/pie-chart"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Pie Chart</h1>
<div class="lead mb-3">
    A Blazor Bootstrap pie chart component is a circular chart that shows the proportional values of different categories.
</div>

<SectionHeading Size="HeadingSize.H4" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<div class="mb-3">
    In the following example, a categorical 12-color palette is used.
</div>
<Callout Heading="TIP" Type="CalloutType.Tip">
    For data visualization, you can use the predefined palettes <code>ColorBuilder.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorBuilder.CategoricalSixColors</code> for a 6-color palette.
    These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
</Callout>
<Demo Type="typeof(PieChart_Demo_01_Examples)" Tabs="true" />

@code {
    private string pageUrl = "/charts/pie-chart";
    private string title = "Blazor Pie Chart";
    private string description = "A Blazor Bootstrap pie chart component is a circular chart that shows the proportional values of different categories.";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg";
}
