@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_PieChart" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PieChart Parameters" PageUrl="@pageUrl" Link="pie-chart-parameters">
    <DocxTable TItem="PieChart" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PieChart Methods" PageUrl="@pageUrl" Link="pie-chart-methods">
    <DocxTable TItem="PieChart" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ChartData Properties" PageUrl="@pageUrl" Link="chart-data-properties">
    <DocxTable TItem="ChartData" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PieChartDataset Properties" PageUrl="@pageUrl" Link="pie-chart-dataset-properties">
    <DocxTable TItem="PieChartDataset" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PieChartDatasetDataLabels Properties" PageUrl="@pageUrl" Link="pie-chart-dataset-datalabels-properties">
    <DocxTable TItem="PieChartDatasetDataLabels" DocType="DocType.Properties" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="PieChartOptions Properties" PageUrl="@pageUrl" Link="pie-chart-options-properties">
    <DocxTable TItem="PieChartOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(PieChart);
    private const string pageUrl = DemoRouteConstants.Docs_URL_PieChart;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_PieChart;
}