@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Buttons" />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <div>Bootstrap includes several predefined button styles, each serving its own semantic purpose, with a few extras thrown in for more control.</div>
    <Demo Type="typeof(Button_Demo_01_Examples)" />
</Section>

<Section Size="HeadingSize.H2" Name="Button tags" PageUrl="@pageUrl" Link="button-tags">
    <Demo Type="typeof(Button_Demo_02_Button_Tags)" />
</Section>

<Section Size="HeadingSize.H2" Name="Outline buttons" PageUrl="@pageUrl" Link="outline-buttons">
    <Demo Type="typeof(Button_Demo_03_Outline_Buttons)" />

    <Callout Color="CalloutColor.Info">
        Some of the button styles use a relatively light foreground color, and should only be used on a dark background in order to have sufficient contrast.
    </Callout>
</Section>

<Section Size="HeadingSize.H2" Name="Sizes" PageUrl="@pageUrl" Link="sizes">
    <div>Fancy larger or smaller buttons? Add <code>Size="ButtonSize.Large"</code> or <code>Size="ButtonSize.Small"</code> for additional sizes.</div>
    <Demo Type="typeof(Button_Demo_04_Sizes_A)" />
    <Demo Type="typeof(Button_Demo_04_Sizes_B)" />
    <Demo Type="typeof(Button_Demo_04_Sizes_C)" />
</Section>

<Section Size="HeadingSize.H2" Name="Disabled state" PageUrl="@pageUrl" Link="disabled-state">
    <div>Make buttons look inactive by adding the <code>Disabled="true"</code> boolean parameter to any <code>Button</code> component. Disabled buttons have <code>pointer-events: none</code> applied to, preventing hover and active states from triggering.</div>

    <Callout Type="CalloutColor.Info">
        Disabled buttons using the <code>Type="ButtonType.Link"</code> parameter behave a bit different.
    </Callout>

    <Demo Type="typeof(Button_Demo_05_Disabled_State_A)" />
    <Demo Type="typeof(Button_Demo_05_Disabled_State_B)" />
</Section>

<Section Size="HeadingSize.H2" Name="Disable and enable state dynamically" PageUrl="@pageUrl" Link="disable-and-enable-state-dynamically">
    <Demo Type="typeof(Button_Demo_13_Disable_Enable_Dynamically)" />
</Section>

<Section Size="HeadingSize.H2" Name="Block buttons" PageUrl="@pageUrl" Link="block-buttons">
    <Demo Type="typeof(Button_Demo_06_Block_Buttons_A)" />
    <Demo Type="typeof(Button_Demo_06_Block_Buttons_B)" />
    <Demo Type="typeof(Button_Demo_06_Block_Buttons_C)" />
    <Demo Type="typeof(Button_Demo_06_Block_Buttons_D)" />
</Section>

<Section Size="HeadingSize.H2" Name="Toggle states" PageUrl="@pageUrl" Link="toggle-states">
    <Demo Type="typeof(Button_Demo_07_Toggle_States_A)" />
    <Demo Type="typeof(Button_Demo_07_Toggle_States_B)" />
</Section>

<Section Size="HeadingSize.H2" Name="Loading spinner" PageUrl="@pageUrl" Link="loading-spinner">
    <div>Use spinners within buttons to indicate an action is currently processing or taking place. You may also swap the text out of the spinner element and utilize button text as needed.</div>
    <Demo Type="typeof(Button_Demo_08_Loading_Spinner)" />
</Section>

<Section Size="HeadingSize.H2" Name="Show/Hide loading spinner" PageUrl="@pageUrl" Link="show-hide-loading-spinner">
    <Demo Type="typeof(Button_Demo_08_Show_Hide_Loading_Spinner)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Show Tooltip" PageUrl="@pageUrl" Link="show-tooltip">
    <div class="mb-3">
        Hover over the buttons below to see the four tooltips directions: top, right, bottom, and left.
    </div>
    <Demo Type="typeof(Button_Demo_09_A_Show_Tooltip)" />
</Section>

<Section Size="HeadingSize.H2" Name="Dynamically update the tooltip text" PageUrl="@pageUrl" Link="dynamically-update-the-tooltip-text">
    <Demo Type="typeof(Button_Demo_09_B_Dynamically_update_the_tooltip_text)" />
</Section>

<Section Size="HeadingSize.H2" Name="Custom tooltips" PageUrl="@pageUrl" Link="custom-tooltips">
    <div class="mb-3">
        Blazor Bootstrap includes several predefined tooltip styles, each serving its own semantic purpose.
        The <b>TooltipColor</b> parameter can be used to customize the color of the tooltip.
    </div>
    <Demo Type="typeof(Button_Demo_09_C_Tooltip_Color)" />

    <Callout Color="CalloutColor.Warning">
        Support for HTML tooltips is not available at this moment.
    </Callout>
</Section>

<Section Size="HeadingSize.H2" Name="Click events" PageUrl="@pageUrl" Link="click-events">
    <Demo Type="typeof(Button_Demo_10_Click_Event)" />
    <Demo Type="typeof(Button_Demo_11_Double_Click_Event)" />
    <Demo Type="typeof(Button_Demo_12_Click_Event_With_Args)" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Buttons;
    private const string pageTitle = "Blazor Button";
    private const string pageDescription = "Use Blazor Bootstrap button styles for actions in forms, dialogs, and more with support for multiple sizes, states, etc.";
    private const string metaTitle = "Blazor Button Component";
    private const string metaDescription = "Use Blazor Bootstrap button styles for actions in forms, dialogs, and more with support for multiple sizes, states, etc.";
    private const string imageUrl = "https://i.imgur.com/Ne7FJ5H.jpg";
}