@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_Badge" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Badge Parameters" PageUrl="@pageUrl" Link="badge-parameters">
    <DocxTable TItem="Badge" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BadgeColor Enum" PageUrl="@pageUrl" Link="badge-color-enum">
    <DocxTable TItem="BadgeColor" DocType="DocType.Enum" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BadgeIndicatorType Enum" PageUrl="@pageUrl" Link="badge-indicator-type-enum">
    <DocxTable TItem="BadgeIndicatorType" DocType="DocType.Enum" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="BadgePlacement Enum" PageUrl="@pageUrl" Link="badge-placement-enum">
    <DocxTable TItem="BadgePlacement" DocType="DocType.Enum" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Position Enum" PageUrl="@pageUrl" Link="position-enum">
    <DocxTable TItem="Position" DocType="DocType.Enum" />
</Section>

@code {
    private const string componentName = nameof(Badge);
    private const string pageUrl = DemoRouteConstants.Docs_URL_Badge;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_Badge;
}