@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Images" />

<Section Size="HeadingSize.H2" Name="Example" PageUrl="@pageUrl" Link="example">
    <div class="mb-3">
        By default images are responsive. The default value of the <b>IsResponsive</b> parameter is <b>true</b>.
    </div>
    <Demo Type="typeof(Image_Demo_01_Examples)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Image thumbnails" PageUrl="@pageUrl" Link="image-thumbnails">
    <div class="mb-3">
        To set the image to have a rounded 1px border appearance, set the <b>IsThumbnail</b> parameter to <b>true</b>.
    </div>
    <Demo Type="typeof(Image_Demo_02_Thumbnail)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Aligning images" PageUrl="@pageUrl" Link="aligning-images">
    <Demo Type="typeof(Image_Demo_03_Aligning_Images_A)" Tabs="false" />
    <Demo Type="typeof(Image_Demo_03_Aligning_Images_B)" Tabs="false" />
    <Demo Type="typeof(Image_Demo_03_Aligning_Images_C)" Tabs="false" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Images;
    private const string pageTitle = "Blazor Image";
    private const string pageDescription = "Documentation and examples for opting images into responsive behavior (so they never become wider than their parent) and add lightweight styles to them.";
    private const string metaTitle = "Blazor Image Component";
    private const string metaDescription = "Documentation and examples for opting images into responsive behavior (so they never become wider than their parent) and add lightweight styles to them.";
    private const string imageUrl = "https://i.imgur.com/eiSTmvO.png";
}
