@using System.ComponentModel.DataAnnotations

<style>
    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }
</style>

<EditForm EditContext="@editContext" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Input Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="int?" @bind-Value="invoice.Amount" Placeholder="Enter invoice amount" />
            <ValidationMessage For="@(() => invoice.Amount)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Input Range (10-500):</label>
        <div class="col-md-9">
            <NumberInput TValue="int?" @bind-Value="invoice.Amount2" Placeholder="Enter invoice amount" />
            <ValidationMessage For="@(() => invoice.Amount2)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Input Disabled:</label>
        <div class="col-md-9">
            <NumberInput TValue="int?" @bind-Value="invoice.Amount3" Placeholder="Enter invoice amount" Disabled="true" />
            <ValidationMessage For="@(() => invoice.Amount3)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Input Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="int" @bind-Value="invoice.Amount4" Min="30" Max="100" Placeholder="Enter invoice amount" />
            <span class="help-text">Min="30" Max="100"</span>
            <ValidationMessage For="@(() => invoice.Amount4)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Double? Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="double?" @bind-Value="invoice.DoubleValue" Placeholder="Enter invoice amount" />
            <ValidationMessage For="@(() => invoice.DoubleValue)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Double? Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="double?" @bind-Value="invoice.DoubleValue2" Min="30" Max="100" Placeholder="Enter invoice amount" />
            <span class="help-text">Min="30" Max="100"</span>
            <ValidationMessage For="@(() => invoice.DoubleValue2)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Double? Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="double?" @bind-Value="invoice.DoubleValue3" TextAlignment="Alignment.End" Min="30" Max="100" Placeholder="Enter invoice amount" />
            <span class="help-text">Min="30" Max="100"</span>
            <ValidationMessage For="@(() => invoice.DoubleValue3)" />
        </div>
    </div>

    <div class="form-group row mb-2">
        <label class="col-md-3 col-form-label">Double? Required:</label>
        <div class="col-md-9">
            <NumberInput TValue="double?" @bind-Value="invoice.DoubleValue4" AllowPlusMinus="true" Placeholder="Enter invoice amount" />
            <span class="help-text">AllowPlusMinus="true"</span>
            <ValidationMessage For="@(() => invoice.DoubleValue4)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success float-right">Submit</button>
        </div>
    </div>
</EditForm>

@code {
    private Invoice invoice = new();
    private EditContext editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(invoice);
        base.OnInitialized();
    }

    public void HandleOnValidSubmit()
    {
        Console.WriteLine($"Amount: {invoice.Amount}");
        Console.WriteLine($"Amount2: {invoice.Amount2}");
        Console.WriteLine($"Amount3: {invoice.Amount3}");
        Console.WriteLine($"Amount4: {invoice.Amount4}");
        Console.WriteLine($"DoubleValue: {invoice.DoubleValue}");
        Console.WriteLine($"DoubleValue2: {invoice.DoubleValue2}");
        Console.WriteLine($"DoubleValue3: {invoice.DoubleValue3}");
        Console.WriteLine($"DoubleValue4: {invoice.DoubleValue4}");
    }

    public class Invoice
    {
        [Required(ErrorMessage = "Amount required.")]
        public int? Amount { get; set; } = 100;

        [Required(ErrorMessage = "Amount required.")]
        [Range(10, 500, ErrorMessage = "Min. 10 and Max.500")]
        public int? Amount2 { get; set; } = 600;

        public int? Amount3 { get; set; }

        [Required(ErrorMessage = "Amount required.")]
        public int Amount4 { get; set; } = 700;

        [Required(ErrorMessage = "Double required.")]
        public double? DoubleValue { get; set; } = 700;

        [Required(ErrorMessage = "Double required.")]
        public double? DoubleValue2 { get; set; } = 700;

        [Required(ErrorMessage = "Double required.")]
        public double? DoubleValue3 { get; set; } = 35.67;

        [Required(ErrorMessage = "Double required.")]
        public double? DoubleValue4 { get; set; } = 35.67;
    }
}
