@using BlazorBootstrap

@page "/form/number-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Number Input</h1>
<div class="mb-3">
    Blazor Bootstrap <code>NumberInput</code> component is built around HTML input of <code>type="number"</code> that prevents the user input based on the parameters set.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<Demo Type="typeof(NumberInput_Demo_01_Basic_Usage)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Generic type" PageUrl="@pageUrl" HashTagName="generic-type" />
<Demo Type="typeof(NumberInput_Demo_02_Generic_Type)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Enable min and max" PageUrl="@pageUrl" HashTagName="enable-min-and-max" />
<Demo Type="typeof(NumberInput_Demo_03_Enable_Min_Max)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Step" PageUrl="@pageUrl" HashTagName="step" />
<Demo Type="typeof(NumberInput_Demo_04_Step)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Text alignment" PageUrl="@pageUrl" HashTagName="text-alignment" />
<Demo Type="typeof(NumberInput_Demo_05_Text_Alignment)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Allow negative numbers" PageUrl="@pageUrl" HashTagName="allow-negative-numbers" />
<Demo Type="typeof(NumberInput_Demo_06_Allow_Negative_Numbers)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Disable" PageUrl="@pageUrl" HashTagName="disable" />
<Demo Type="typeof(NumberInput_Demo_07_Disable_Number_Input)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Validations" PageUrl="@pageUrl" HashTagName="validations" />
<Demo Type="typeof(NumberInput_Demo_08_Validations)" Tabs="true" />

@code {
    private string pageUrl = "/form/number-input";
    private string title = "Blazor NumberInput Component | Blazor Bootstrap";
    private string description = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private string imageUrl = "https://i.imgur.com/36RsWZ3.png"; // TODO: update this
}
