@using BlazorBootstrap

@page "/form/number-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Number Input</h1>
<div class="mb-3">
    Blazor Bootstrap <code>NumberInput</code> component is built around HTML input of <code>type="number"</code> that prevents the user input based on the parameters set.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<Demo Type="typeof(NumberInput_Demo_01_Basic_Usage)" />

<SectionHeading Size="HeadingSize.H2" Text="Generic type" PageUrl="@pageUrl" HashTagName="generic-type" />
<Demo Type="typeof(NumberInput_Demo_02_Generic_Type)" />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(NumberInput_Demo_10_Examples)" />

@code {
    private string pageUrl = "/form/number-input";
    private string title = "Blazor NumberInput Component | Blazor Bootstrap";
    private string description = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private string imageUrl = "https://i.imgur.com/36RsWZ3.png"; // TODO: update this
}
