@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<li>
    <h6 @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @ChildContent
    </h6>
</li>
