@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<li>
    <h6 @ref="@Element" id="@Id" class="@BootstrapClass.DropdownHeader @Class" @attributes="@AdditionalAttributes">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </h6>
</li>
