@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<button @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
</button>