@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<button @ref="@ElementRef"
        @attributes="@Attributes"
        class="@ClassNames"
        disabled="@Disabled"
        id="@ElementId"
        style="@StyleNames">
    @ChildContent
</button>
