@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<button @ref="@Element"
        id="@Id"
        class="@ClassNames" 
        style="@StyleNames"
        disabled="@Disabled"
        @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</button>
