@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<button @ref="@Element"
        id="@Id"
        class="@BootstrapClass.Button @EnumExtensions.DropdownButtonColorClassMap[Color] @EnumExtensions.DropdownButtonSizeClassMap[Size] @BootstrapClass.DropdownToggle @(Split ? BootstrapClass.DropdownToggleSplit : "") @Class"
        disabled="@Disabled"
        @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</button>
