@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    <h2 class="accordion-header">
        <button class="accordion-button @buttonCollapsedStateCSSClass" type="button" @onclick="ToggleAsync">
            @if (TitleTemplate is not null)
            {
                @TitleTemplate
            }
            else if (!string.IsNullOrWhiteSpace(Title))
            {
                @Title
            }
        </button>
    </h2>

    <Collapse @ref="collapse"
              Class="accordion-collapse"
              Parent="@(Parent.AlwaysOpen ? null : Parent.Element)"
              Toggle="@IsActive"
              OnShowing="OnCollapseShowingAsync"
              OnShown="OnCollapseShownAsync"
              OnHiding="OnCollapseHidingAsync"
              OnHidden="OnCollapseHiddenAsync">
        <div class="accordion-body">
            @Content
        </div>
    </Collapse>
</div>
