@namespace BlazorBootstrap
@inherits BaseComponent

<div  @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@Attributes">
    <div class="collapsible-section flex-shrink-0">
        <div class="project-item flex-row">
            @if (expanded)
            {
                <Icon Name="IconName.LayoutSidebarInset" class="nav-icon me-2" />
            }
            else
            {
                <Tooltip Title="Blazor Bootstrap 1.3.1" Placement="TooltipPlacement.Right" role="button">
                    <Icon Name="IconName.LayoutSidebarInset" class="nav-icon me-2" />
                </Tooltip>
            }
            <span class="fw-bold expanded-only">Blazor Bootstrap 1.3.1</span>
        </div>
    </div>
    <div class="separator flex-row flex-shrink-0">
    </div>
    <SidebarItemGroup NavigationExpanded="@expanded" />
    <div class="separator flex-row flex-shrink-0">
    </div>
    <div class="collapsible-section flex-shrink-0">
        @if (expanded)
        {
            <Tooltip Title="Show less information" Placement="TooltipPlacement.Right" Class="float-end me-3 py-2" role="button">
                <Icon Name="IconName.ChevronDoubleLeft" @onclick="OnExpandTogglClick" />
            </Tooltip>
        }
        else
        {
            <Tooltip Title="Show more information" Placement="TooltipPlacement.Right" Class="me-3 py-2" role="button">
                <Icon Name="IconName.ChevronDoubleRight" @onclick="OnExpandTogglClick" />
            </Tooltip>
        }
    </div>
</div>