@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@collapseSidebar">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="navigation" @attributes="@Attributes">
        <div class="top-row navbar">
            <div class="container-fluid ps-3">
                <a class="navbar-brand" href="">
                    @if (!string.IsNullOrWhiteSpace(ImageSrc))
                    {
                        <span class="navbar-brand-image align-middle">
                            <img src="@ImageSrc" class="pb-1 me-2" width="24" height="24" alt="@Title" />
                        </span>
                    }
                    else
                    {
                        <span class="navbar-brand-icon">
                            <Icon Name="@IconName" CustomIconName="@CustomIconName" Class="me-2" />
                        </span>
                    }
                    <span class="navbar-brand-text fw-semibold expanded-only me-2">@Title</span>
                    <span class="navbar-brand-badge badge text-bg-success expanded-only">v1.3.1</span>
                </a>
                <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>

        <div class="@NavMenuCssClass">
            <SidebarItemGroup NavItems="@NavItems" />
        </div>
    </div>
</CascadingValue>