@namespace BlazorBootstrap
@inherits BaseComponent

<nav @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if(NavItems is not null && NavItems.Any())
    {
        foreach (var item in NavItems)
        {
            <SidebarItem PrefixIconName="@item.PrefixIconName" Href="@item.Href" Text="@item.Text" HasChilds="@item.HasChilds" ChildItems="@item.ChildItems" />
        }
    }
</nav>