@namespace BlazorBootstrap
@inherits BaseComponent

<li class="nav-item @liCssClass">
    @if (HasChilds)
    {
        <NavLink class="@navLinkCssClass" role="button" @onclick="OnNavLinkClick">
            @if (NavigationExpanded)
            {                
                <Icon Name="@PrefixIconName" Class="nav-icon me-2" />
            }
            else
            {
                <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                    <Icon Name="@PrefixIconName" Class="nav-icon me-2" />
                </Tooltip>
            }
            <span class="expanded-only">@Text</span>
            @if (containerExpanded)
            {
                <Icon Name="IconName.ChevronDown" Class="float-end expanded-only text-primary" />
            }
            else
            {
                <Icon Name="IconName.ChevronRight" Class="float-end expanded-only" />
            }
        </NavLink>
    }
    else
    {
        <NavLink class="@navLinkCssClass" href="@Href">
            @if (NavigationExpanded)
            {                
                <Icon Name="@PrefixIconName" Class="nav-icon me-2" />
            }
            else
            {
                <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                    <Icon Name="@PrefixIconName" Class="nav-icon me-2" />
                </Tooltip>
            }
            <span class="expanded-only">@Text</span>
        </NavLink>
    }

    @if (HasChilds & containerExpanded && ChildItems is not null && ChildItems.Any())
    {
        <ul class="nav d-flex flex-column">
            @foreach (var childItem in ChildItems) // TODO: Handle sequence
            {
                <SidebarItem PrefixIconName="@childItem.PrefixIconName" Href="@childItem.Href" Text="@childItem.Text" />
            }
        </ul>
    }
</li>