@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<nav @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (NavItems is not null && NavItems.Any())
    {
        foreach (var item in NavItems)
        {
            <SidebarItem Item="item"
                         Class="@item.Class" />
        }
    }
</nav>