@namespace BlazorBootstrap
@inherits BaseComponent

<li class="nav-item">
    <NavLink class="@navLinkCssClass" href="@Href">
        <Icon Name="@PrefixIconName" Class="me-2" />
        @Text
        @if (HasChilds)
        {
            if (expanded)
            {
                <Icon Name="IconName.ChevronDown" Class="float-end text-primary" />
            }
            else
            {
                <Icon Name="IconName.ChevronRight" Class="float-end" />
            }
        }
    </NavLink>

    @if (HasChilds & expanded && ChildItems is not null && ChildItems.Any())
    {
        <ul class="nav flex-column">
            @foreach (var childItem in ChildItems) // TODO: Handle sequence
            {
                <SidebarItem PrefixIconName="@childItem.PrefixIconName" Href="@childItem.Href" Text="@childItem.Text" />
            }
        </ul>
    }
</li>