@namespace BlazorBootstrap
@inherits BaseComponent

<div  @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@Attributes">
    <SidebarItemGroup />
    <div class="separator flex-row flex-shrink-0">
    </div>
    <div class="collapsible-section">
        @if (expanded)
        {
            <Tooltip Title="Show less information" Placement="TooltipPlacement.Right" Class="float-end me-3 py-2" role="button">
                <Icon Name="IconName.ChevronDoubleLeft" @onclick="OnExpandTogglClick" />
            </Tooltip>
        }
        else
        {
            <Tooltip Title="Show more information" Placement="TooltipPlacement.Right" Class="me-3 py-2" role="button">
                <Icon Name="IconName.ChevronDoubleRight" @onclick="OnExpandTogglClick" />
            </Tooltip>
        }
    </div>

    @*<ul class="nav flex-column">
        <li class="nav-item nav-group expanded">
            <NavLink class="nav-link link-dark fw-bold" href="/getting-started">
                <Icon Name="IconName.HouseDoorFill" Class="me-2 text-primary" /> Navigation <Icon Name="IconName.ChevronDown" Class="float-end text-primary" />
            </NavLink>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <NavLink class="nav-link link-dark" href="sidebar">
                        <Icon Name="IconName.LayoutSidebarInset" class="me-2" /> Sidebar
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-dark" href="/form/switch">
                        <Icon Name="IconName.ToggleOn" class="me-2" /> Switch
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-dark" href="tabs">
                        <Icon Name="IconName.WindowPlus" class="me-2" /> Tabs
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link link-dark" href="toasts">
                        <Icon Name="IconName.ExclamationTriangleFill" class="me-2" /> Toasts
                    </NavLink>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link link-dark" href="alerts">
                <Icon Name="IconName.CheckCircleFill" class="me-2 text-success" /> Alerts <Icon Name="IconName.ChevronRight" Class="float-end" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link link-dark" href="autocomplete">
                <Icon Name="IconName.InputCursorText" class="me-2 text-danger" /> AutoComplete <Icon Name="IconName.ChevronRight" Class="float-end" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link link-dark" href="breadcrumb">
                <Icon Name="IconName.SegmentedNav" class="me-2 text-warning" /> Breadcrumb <Icon Name="IconName.ChevronRight" Class="float-end" />
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link link-dark" href="buttons">
                <Icon Name="IconName.ToggleOn" class="me-2 text-info" /> Buttons <Icon Name="IconName.ChevronRight" Class="float-end" />
            </NavLink>
        </li>
    </ul>*@
</div>