@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (Item.ChildItems.Any())
    {
        <NavLink class="nav-link" role="button" @onclick="ToggleNavItemGroup">
            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon me-3">
                    <Icon Class="@iconColorCssClass" Name="@Item.IconName" CustomIconName="@Item.CustomIconName" aria-hidden="true"/>
                </span>
            }
            else
            {
                <Tooltip Title="@Item.Text" Placement="TooltipPlacement.Right" role="button">
                    <span class="nav-link-icon me-3">
                        <Icon Class="@iconColorCssClass" Name="@Item.IconName" CustomIconName="@Item.CustomIconName" aria-hidden="true" />
                    </span>
                </Tooltip>
            }
            <span class="nav-link-text fw-semibold expanded-only">@Item.Text</span>
            @if (navitemGroupExpanded)
            {
                <span class="nav-link-arrow float-end expanded-only">
                    <Icon Name="IconName.ChevronDown"/>
                </span>
            }
            else
            {
                <span class="nav-link-arrow float-end expanded-only">
                    <Icon Name="IconName.ChevronRight"/>
                </span>
            }
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link" href="@Item.Href" target="@targetString" Match="@Match" @onclick="AutoHideNavMenu">
            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon me-3">
                    <Icon Class="@iconColorCssClass" Name="@Item.IconName" CustomIconName="@Item.CustomIconName" aria-hidden="true" />
                </span>
            }
            else
            {
                <Tooltip Title="@Item.Text" Placement="TooltipPlacement.Right" role="button">
                    <span class="nav-link-icon me-3">
                        <Icon Class="@iconColorCssClass" Name="@Item.IconName" CustomIconName="@Item.CustomIconName" aria-hidden="true" />
                    </span>
                </Tooltip>
            }
            <span class="nav-link-text expanded-only">@Item.Text</span>
        </NavLink>
    }

    @if (navitemGroupExpanded && Item.ChildItems.Any())
    {
        @foreach (var childItem in Item.ChildItems)
        {
            <SidebarItem Item="childItem" />
        }
    }
</div>