@page "/script-loader"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Script Loader</h1>
<div class="lead mb-3">
    Documentation and examples for using the Blazor Bootstrap Script Loader component.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<div class="mb-3">
    In the following example, the jQuery script is loaded using the Script Loader component.
</div>
<Demo Type="typeof(ScriptLoader_Demo_01_Examples)" />

<Callout Type="CalloutType.Info" Heading="Test">
    To test whether the jQuery script has been loaded successfully, run <code>$('#script1')[0]</code> in the browser console.
</Callout>

<img src="https://i.imgur.com/EWEGAZv.png" class="img-fluid" alt="Blazor Script Loader - Test whether the jQuery script has been loaded successfully" />

<SectionHeading Size="HeadingSize.H2" Text="Events" PageUrl="@pageUrl" HashTagName="events" />
<div class="mb-3">
    Blazor Bootstrap Script Loader component exposes two events.
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row"><code>OnError</code></th>
                <td>An event that is fired when a script loading error occurs.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnLoad</code></th>
                <td>An event that is fired when a script has been successfully loaded.</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    In the following example, an incorrect script source is specified. 
    This is why the <code>OnError</code> callback event is called, and the message is updated with the error message.
</div>
<Demo Type="typeof(ScriptLoader_Demo_02_Events)" />

@code {
    private string pageUrl = "/script-loader";
    private string title = "Blazor ScriptLoader Component";
    private string description = "Documentation and examples for using the Blazor Bootstrap ScriptLoader component.";
    private string imageUrl = "https://i.imgur.com/sBiYPeQ.png";
}
