@namespace BlazorBootstrap
@inherits BaseComponent

<div class="d-flex">
    <button type="button" class="btn btn-light me-1 d-flex dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        @if (this.FilterOperator == defaultFilterOperator)
        {
            <span class="me-2"><Icon Name="IconName.Funnel" /></span>
        }
        else
        {
            <span class="me-2"><Icon Name="IconName.FunnelFill" /></span>
        }
        <span>@selectedFilterSymbol</span>
    </button>
    <ul class="dropdown-menu">
        @if (filterOperators != null && filterOperators.Any())
        {
            foreach (var item in filterOperators)
            {
                <li class="mx-1 rounded-3">
                    <div class="dropdown-item p-1" role="button" @onclick="((args) => FilterOperatorChanged(args, item))">
                        <span class="filter-symbol">@item.Symbol</span> <span>@item.Text</span>
                    </div>
                </li>
            }
        }
    </ul>

    @if (PropertyTypeName == StringConstants.PropertyTypeNameInt32)
    {
        <input class="form-control" type="number" value="@FilterValue" @oninput="@((args) => OnFilterChanged(args))">

        @*<input class="form-control" type="date" value="@FilterValue" @oninput="@((args) => OnFilterChanged(args))" />*@
    }
    else if (PropertyTypeName == StringConstants.PropertyTypeNameDateOnly)
    {
        <input class="form-control" type="date" value="@FilterValue" @oninput="@((args) => OnFilterChanged(args))" />
    }
    else if (PropertyTypeName == StringConstants.PropertyTypeNameDateTime)
    {
        <input class="form-control" type="datetime-local" value="@FilterValue" @oninput="@((args) => OnFilterChanged(args))" />
    }
    else
    {
        <input class="form-control" type="text" value="@FilterValue" @oninput="@((args) => OnFilterChanged(args))" />
    }
</div>