@namespace BlazorBootstrap
@inherits BaseComponent
@typeparam TItem

<CascadingValue Value="@this" IsFixed="true">
    @ChildContent
</CascadingValue>

@if (columns.Any())
{
    <table @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <thead>
            <tr>
                @foreach (var column in columns)
                {
                    @column.HeaderTemplate
                }
            </tr>
        </thead>
        <tbody>
            @if (items == null)
            {
                @if (LoadingTemplate == null)
                {
                    @for (var i = 0; i < 5; i++)
                    {
                        <tr>
                            @for (var j = 0; j < columns.Count; j++)
                            {
                                <td>
                                    <p class="placeholder-glow"><span class="placeholder col-12"></span></p>
                                </td>
                            }
                        </tr>
                    }
                }
                else
                {
                    @LoadingTemplate
                }
            }
            else if (items != null)
            {
                var index = 0;
                foreach (var item in items)
                {
                    <tr @key="item.GetHashCode()">
                        @foreach (var column in columns)
                        {
                            @column.CellTemplate(item)
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
}