@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<ScriptLoader Async="true"
              Defer="true"
              Class="mt-4"
              ScriptId="@($"script{Id}")"
              Source="@GoogleMapsJsFileUrl"
              OnLoad="OnScriptLoad" />

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" role="alert" @attributes="@AdditionalAttributes">
</div>
