@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<ScriptLoader Async="true"
              Defer="true"
              Class="mt-4"
              ScriptId="blazor-bootstrap-google-maps-script"
              Source="@GoogleMapsJsFileUrl" />

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
</div>
