@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

@if (Type == ButtonType.Link)
{
    <a @ref="@Element"
       type="@ButtonTypeString"
       id="@Id"
       class="@ClassNames" 
       style="@StyleNames"
       @attributes="@AdditionalAttributes">

        @if (Loading && LoadingTemplate is not null)
        {
            @LoadingTemplate
        }
        else
        {
            @ChildContent
        }

    </a>
}
else
{
    <button @ref="@Element"
            type="@ButtonTypeString"
            id="@Id"
            class="@ClassNames"
            style="@StyleNames"
            disabled="@Disabled"
            @attributes="@AdditionalAttributes">

        @if (Loading && LoadingTemplate is not null)
        {
            @LoadingTemplate
        }
        else
        {
            @ChildContent
        }

    </button>
}
