@namespace BlazorBootstrap
@inherits BaseComponent

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes" tabindex="@TabIndex">
    <div class="modal-dialog @scrollable @verticallyCentered @modalSize @modalFullscreen @DialogCssClass">
        <div class="modal-content">
            @if (isVisible)
            {
                @if (!string.IsNullOrWhiteSpace(title) || HeaderTemplate != null || ShowCloseButton)
                {
                    <div class="modal-header @HeaderCssClass">
                        @if (!string.IsNullOrWhiteSpace(title))
                        {
                            <h5 class="modal-title">@title</h5>
                        }
                        else if (HeaderTemplate != null)
                        {
                            @HeaderTemplate
                        }

                        @if (ShowCloseButton)
                        {
                            <Icon Color="@closeIconColor" Name="IconName.XLg" role="button" @onclick="HideAsync"></Icon>
                        }
                    </div>
                }

                @if (childComponent is not null)
                {
                    <div class="modal-body @BodyCssClass">
                        <DynamicComponent Type="@childComponent" Parameters="@parameters" />
                    </div>
                }
                else if (!string.IsNullOrWhiteSpace(message))
                {
                    <div class="modal-body @BodyCssClass">
                        @message
                    </div>
                }
                else if (BodyTemplate != null)
                {
                    <div class="modal-body @BodyCssClass">
                        @BodyTemplate
                    </div>
                }

                @if (FooterTemplate != null)
                {
                    <div class="modal-footer @FooterCssClass">
                        @FooterTemplate
                    </div>
                }
                else if (showFooterButton)
                {
                    <div class="modal-footer @FooterCssClass">
                        <Button Class="@footerButtonCSSClass" Color="@footerButtonColor" data-bs-dismiss="modal" aria-label="Close">@footerButtonText</Button>
                    </div>
                }
            }
        </div>
    </div>
</div>
