@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" role="progressbar" @attributes="@AdditionalAttributes">
    @Label
</div>
