@page "/text-input"

@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_TextInput" />

<Section Size="HeadingSize.H2" Name="Basic usage" PageUrl="@pageUrl" Link="basic-usage">
    <Demo Type="typeof(TextInput_Demo_01_Basic_Usage)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Text alignment" PageUrl="@pageUrl" Link="text-alignment">
    <div class="mb-3">You can change the text alignment according to your need. Use the <code>TextAlignment</code> parameter to set the alignment. In the below example, alignment is set to center and end.</div>
    <Demo Type="typeof(TextInput_Demo_02_Text_Alignment)" Tabs="true"/>
</Section>

<Section Size="HeadingSize.H2" Name="Disable" PageUrl="@pageUrl" Link="disable">
    <div class="mb-3">Use the <code>Disabled</code> parameter to disable the <code>TextInput</code>.</div>
    <Demo Type="typeof(TextInput_Demo_03_Disable_A)" Tabs="false"/>
    <div class="my-3">Also, use <b>Enable()</b> and <b>Disable()</b> methods to enable and disable the <code>TextInput</code>.</div>
    <Callout Color="CalloutColor.Warning" Heading="NOTE">
        Do not use both the <b>Disabled</b> parameter and <b>Enable()</b> &amp; <b>Disable()</b> methods.
    </Callout>
    <Demo Type="typeof(TextInput_Demo_03_Disable_B)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Max length" PageUrl="@pageUrl" Link="max-length">
    <div class="mb-3">Use the <code>MaxLength</code> parameter to set the maximum length of the <code>TextInput</code>.</div>
    <Demo Type="typeof(TextInput_Demo_04_MaxLength)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Valdations" PageUrl="@pageUrl" Link="validations">
    <div class="mb-3">
        Like any other blazor input component, <code>TextInput</code> supports validations.
        Add the DataAnnotations on the <code>TextInput</code> component to validate the user input before submitting the form.
        In the below example, we used <b>Required</b> attribute.
    </div>
    <Demo Type="typeof(TextInput_Demo_05_Validations)" Tabs="true"/>
</Section>

<Section Size="HeadingSize.H2" Name="Events: ValueChanged" PageUrl="@pageUrl" Link="events-value-changed">
    <div class="mb-3">This event fires when the <code>TextInput</code> value changes, but not on every keystroke.</div>
    <Demo Type="typeof(TextInput_Demo_06_Events_ValueChanged)" Tabs="true"/>
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_TextInput;
    private const string pageTitle = "Blazor TextInput";
    private const string pageDescription = "The Blazor Bootstrap TextInput component is constructed using an HTML input of type 'text'.";
    private const string metaTitle = "Blazor TextInput Component";
    private const string metaDescription = "The Blazor Bootstrap TextInput component is constructed using an HTML input of type 'text'.";
    private const string imageUrl = "https://i.imgur.com/N2VUHIn.png";
}
