@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl"
              Title="@metaTitle"
              Description="@metaDescription"
              ImageUrl="@imageUrl" />

<PageHero Heading="@pageTitle">
    <LeadSection>@pageDescription</LeadSection>
</PageHero>

<CarbonAds />

<Section Size="HeadingSize.H2" Name="Example" PageUrl="@pageUrl" Link="example">
    <div class="mb-3">
        To enable summaries on columns, set the <code>AllowSummary</code> parameter to <b>true</b> at the Grid level. Additionally, set the <code>SummaryType</code> parameter on each GridColumn.
        <br />
        In the following example, the Employee Name column has <code>SummaryType</code> set to <b>GridSummaryColumnType.Count</b>, and the <b>Salary</b> column has <code>SummaryType</code> set to <b>GridSummaryColumnType.Sum</b> and <code>SummaryValueDisplayFormat</code> set to <b>C</b> to display the sum of salaries in currency format.
    </div>
    <Callout Color="CalloutColor.Info">
        <div>
            <code>GridSummaryColumnType</code>: Average, Count, Max, Min, Sum. Default value is <code>GridSummaryColumnType.None</code>.
        </div>
    </Callout>
    <Demo Type="typeof(Grid_Demo_01_Summary_Example)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Summary with Filters and Paging" PageUrl="@pageUrl" Link="summary-with-filters-paging">
    <Callout Color="CalloutColor.Danger">
        <b>NOTE: </b>Summaries will be calculated based on the current page data.
    </Callout>
    <Demo Type="typeof(Grid_Demo_02_Summary_with_Filters_Paging)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_Grid_Summary_Documentation;
    private const string pageTitle = "Blazor Grid - Summary";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Summary";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/eetvhBB.png";
}
