@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Row click event" PageUrl="@pageUrl" Link="row-click-event">
    <div class="mb-3"></div>
    <Demo Type="typeof(Grid_Demo_29_Row_Click)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Row double click event" PageUrl="@pageUrl" Link="row-double-click-event">
    <div class="mb-3"></div>
    <Demo Type="typeof(Grid_Demo_30_Row_Double_Click)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_Events;
    private const string pageTitle = "Blazor Grid - Events";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Events";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
