@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Selection" PageUrl="@pageUrl" Link="selection">
    <div class="mb-3">
        Set <code>AllowSelection="true"</code> to enable the selection on the <code>Grid</code>.
        By default, <code>SelectionMode</code> is <b>Single</b>.
    </div>
    <Demo Type="typeof(Grid_Demo_01_A_Selection)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Default selection" PageUrl="@pageUrl" Link="default-selection">
    <div class="mb-3">
        Set <code>AllowSelection="true"</code> to enable the selection on the <code>Grid</code>.
        By default, <code>SelectionMode</code> is <b>Single</b>.
    </div>
    <Demo Type="typeof(Grid_Demo_01_B_Default_Selection)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Multiple selection" PageUrl="@pageUrl" Link="multiple-selection">
    <div class="mb-3">
        To select multiple rows, set <code>SelectionMode="GridSelectionMode.Multiple"</code>.
    </div>
    <Demo Type="typeof(Grid_Demo_02_A_Multiple_Selection)" Tabs="true" />
    <Callout Color="CalloutColor.Danger" Heading="Note">
        <p>Selected items are removed from the selection if they are not rendered after paging, sorting, filtering, etc.</p>
    </Callout>
</Section>

<Section Size="HeadingSize.H2" Name="Select all or unselect all programmatically" PageUrl="@pageUrl" Link="select-all-or-unselect-all-programmatically">
    <div class="mb-3">
        <b>Select</b> or <b>unselect</b> all the items programatically by calling the <code>SelectAllItemsAsync()</code> and <code>UnSelectAllItemsAsync()</code> methods. Also, set <code>SelectionMode="GridSelectionMode.Multiple"</code>.
    </div>
    <Demo Type="typeof(Grid_Demo_02_B_Multiple_Selection_Programmatically)" Tabs="true" />
    <Callout Color="CalloutColor.Danger" Heading="Note">
        <p>Selected items are removed from the selection if they are not rendered after paging, sorting, filtering, etc.</p>
    </Callout>
</Section>

<Section Size="HeadingSize.H2" Name="Disable Selection" PageUrl="@pageUrl" Link="disable-selection">
    <div class="mb-3">
        We can disable the header checkbox or row level checkbox based on a condition.
        For this, we have <code>DisableAllRowsSelection</code> and <code>DisableRowSelection</code> delegate parameters. In the below example, we disabled the header checkbox if any of the employee Id is less than 105.
        Also, disable check the row level checkbox if the employee Id is less than 105.
    </div>
    <Demo Type="typeof(Grid_Demo_03_Disable_Selection)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Change selected row background color" PageUrl="@pageUrl" Link="change-selected-row-background-color">
    <Demo Type="typeof(Grid_Demo_04_B_Selected_Row_CSS_Variables)" ShowCodeOnly="true" LanguageCode="LanguageCode.Css" />
    <div class="mb-3">
        These CSS variables are used to set the default colors and background color of a row when it's selected.
        You can override the <Badge>--bb-table-selected-row-color</Badge>, <Badge>--bb-table-selected-row-background-color</Badge>, <Badge>--bb-table-selected-row-hover-color</Badge>, and <Badge>--bb-table-selected-row-hover-background-color</Badge> variables in the application's specific CSS file to change the selected row's appearance. Please see the following example where the row text color is set to #fff (white) and the background color is set to #4c0bce (purple) when the row is selected.
    </div>
    <Demo Type="typeof(Grid_Demo_04_A_Change_Selected_Row_Background_Color)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_Selection;
    private const string pageTitle = "Blazor Grid - Selection";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component - Selection";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
