@using BlazorBootstrap
@page "/callout"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Callout</h1>
<div class="mb-3">
    BlazorBootstrap's callout component provides presentation of content in a visually distinct manner. Includes a heading, icon and typically text-based content.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<SectionHeading Size="HeadingSize.H4" Text="Default" PageUrl="@pageUrl" HashTagName="default" />
<Demo Type="typeof(Callout_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Danger" PageUrl="@pageUrl" HashTagName="danger" />
<Demo Type="typeof(Callout_Demo_02_Danger)" />

<SectionHeading Size="HeadingSize.H4" Text="Warning" PageUrl="@pageUrl" HashTagName="warning" />
<Demo Type="typeof(Callout_Demo_03_Warning)" />

<SectionHeading Size="HeadingSize.H4" Text="Info" PageUrl="@pageUrl" HashTagName="info" />
<Demo Type="typeof(Callout_Demo_04_Info)" />

<SectionHeading Size="HeadingSize.H4" Text="Tip" PageUrl="@pageUrl" HashTagName="tip" />
<Demo Type="typeof(Callout_Demo_05_Tip)" />

@code {
    private string pageUrl = "/callout";
    private string title = "Blazor Callout Component | BlazorBootstrap";
    private string description = "BlazorBootstrap's callout component provides content presentation in a visually distinct manner.";
    private string imageUrl = "https://i.imgur.com/e9wy7fg.jpg";
}
