@using BlazorBootstrap
@page "/callout"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Blazor Callout</h1>
<div class="mb-3">
    BlazorBootstrap's callout component provides presentation of content in a visually distinct manner. Includes a heading, icon and typically text-based content.
</div>

<SectionHeading Size="HeadingSize.H4" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(Callout_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H4" Text="Custom callout heading" PageUrl="@pageUrl" HashTagName="custom-callout-heading" />
<Demo Type="typeof(Callout_Demo_02_Change_Heading)" />

<SectionHeading Size="HeadingSize.H4" Text="Large text" PageUrl="@pageUrl" HashTagName="large-text" />
<Demo Type="typeof(Callout_Demo_03_Large_Text)" />

@code {
    private string pageUrl = "/callout";
    private string title = "Blazor Callout Component | BlazorBootstrap";
    private string description = "BlazorBootstrap's callout component provides content presentation in a visually distinct manner.";
    private string imageUrl = "https://i.imgur.com/e9wy7fg.jpg";
}
