@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element"
      id="@Id" 
      class="@ClassNames" 
      style="@StyleNames"
      data-bs-toggle="tooltip"
      data-bs-placement="@(Placement.ToTooltipPlacementName())"
      data-bs-custom-class="@(Color.ToTooltipColorClass())"
      data-bs-html="@(IsHtml ? "true" : "false")"
      title="@Title"
      @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</span>