@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element"
      id="@Id" 
      class="@Class"  
      data-bs-toggle="tooltip"
      data-bs-placement="@(EnumExtensions.TooltipPlacementNameMap[Placement])"
      data-bs-custom-class="@(EnumExtensions.TooltipColorClassMap[Color])"
      data-bs-html="@(IsHtml ? "true" : "false")"
      title="@Title"
      @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</span>