@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element"
      id="@Id" 
      class="@ClassNames" 
      style="@StyleNames"
      data-bs-toggle="tooltip"
      data-bs-placement="@placement"
      data-bs-custom-class="@colorClass"
      data-bs-html="@(IsHtml ? "true" : "false")"
      title="@Title"
      @attributes="@AdditionalAttributes">
    @ChildContent
</span>