@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@ElementRef"
      id="@ElementId"
      class="@ClassNames"
      style="@StyleNames"
      @attributes="@Attributes"
      data-bs-toggle="tooltip"
      data-bs-placement="@placement"
      data-bs-custom-class="@colorClass"
      data-bs-html="@(IsHtml ? "true" : "false")"
      title="@Title">
    @ChildContent
</span>