@page "/autocomplete"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Auto Complete</h1>
<div class="lead mb-3">
    Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Client side data" PageUrl="@pageUrl" HashTagName="client-side-data" />
<Demo Type="typeof(AutoComplete_Demo_01_A_Client_Side_Filtering)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Client side data with StringComparision" PageUrl="@pageUrl" HashTagName="client-side-data-with-string-comparision" />
<div class="mb-3">In the below example, <code>StringComparision.Ordinal</code> is used to make the filter case-sensitive.</div>
<Demo Type="typeof(AutoComplete_Demo_01_B_Client_Side_Filtering_With_StringComparision)" Tabs="true" />
<Callout Color="CalloutType.Info">
    <div>By default, <code>StringComparison.OrdinalIgnoreCase</code> is used to compare culture-agnostic and case-insensitive string matching.</div>
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Server side data" PageUrl="@pageUrl" HashTagName="server-side-data" />
<Demo Type="typeof(AutoComplete_Demo_02_Server_Side_Filtering)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Validations" PageUrl="@pageUrl" HashTagName="validations" />
<Demo Type="typeof(AutoComplete_Demo_03_Validations)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Keyboard Navigation" PageUrl="@pageUrl" HashTagName="keyboard-navigation" />
<div>
    Blazor Bootstrap autocomplete component supports the following keyboard shortcuts to initiate various actions.
</div>
<div class="mb-3">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><kbd>Esc</kbd></td>
                    <td>Closes the popup list when it is in an open state.</td>
                </tr>
                <tr>
                    <td><kbd class="text-nowrap">Up arrow</kbd></td>
                    <td>Focuses on the previous item in the list.</td>
                </tr>
                <tr>
                    <td><kbd class="text-nowrap">Down arrow</kbd></td>
                    <td>Focuses on the next item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>Home</kbd></td>
                    <td>Focuses on the first item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>End</kbd></td>
                    <td>Focuses on the last item in the list.</td>
                </tr>
                <tr>
                    <td><kbd>Enter</kbd></td>
                    <td>Selects the currently focused item.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    private string pageUrl = "/autocomplete";
    private string title = "Blazor AutoComplete Component";
    private string description = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private string imageUrl = "https://i.imgur.com/36RsWZ3.png";
}
