@using BlazorBootstrap

@page "/autocomplete"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Blazor Auto Complete</h1>
<div class="mb-3">
    BlazorBootstrap's autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Client side data" PageUrl="@pageUrl" HashTagName="client-side-data" />
<Demo Type="typeof(AutoComplete_Demo_01_A_Client_Side_Filtering)" />

<SectionHeading Size="HeadingSize.H2" Text="Client side data with StringComparision" PageUrl="@pageUrl" HashTagName="client-side-data-with-string-comparision" />
<div>In the below example, <code>StringComparision.Ordinal</code> is used to make the filter case-sensitive.</div>
<Demo Type="typeof(AutoComplete_Demo_01_B_Client_Side_Filtering_With_StringComparision)" />
<Callout Color="CalloutType.Info">
    <div>By default, <code>StringComparison.OrdinalIgnoreCase</code> is used to compare culture-agnostic and case-insensitive string matching.</div>
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Server side data" PageUrl="@pageUrl" HashTagName="server-side-data" />
<Demo Type="typeof(AutoComplete_Demo_02_Server_Side_Filtering)" />

<SectionHeading Size="HeadingSize.H2" Text="Validations" PageUrl="@pageUrl" HashTagName="validations" />
<Demo Type="typeof(AutoComplete_Demo_03_Validations)" />

@code {
    private string pageUrl = "/autocomplete";
    private string title = "Blazor AutoComplete Component | Blazor Bootstrap";
    private string description = "Blazor Bootstrap autocomplete component is a textbox that offers the users suggestions as they type from the data source. And it supports client-side and server-side filtering.";
    private string imageUrl = "https://i.imgur.com/36RsWZ3.png";
}
