@page "/preload"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Preload</h1>
<div class="lead mb-3">Indicate the loading state of a page with Blazor Bootstrap preload component.</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Things to know when using the blazor preload component" PageUrl="@pageUrl" HashTagName="things-to-know-when-using-the-blazor-preload-component" />
<div class="mb-3">
    <ul>
        <li>Add the <b>Preload</b> component to your <b>current page</b> or your <b>layout page</b>.</li>
        <li>Inject <code>PreloadService</code>.</li>
        <li>Call <code>preloadService.Show()</code> before you make any call to the API.</li>
        <li>Call <code>preloadService.Hide()</code> after you get the response from the API.</li>
    </ul>
</div>

<SectionHeading Size="HeadingSize.H2" Text="Global preload service for the application" PageUrl="@pageUrl" HashTagName="global-preload-service-for-the-application" />
<div class="mb-3">1. Add the <code>Preload</code> component in <code>MainLayout.razor</code> page as shown below.</div>
<Demo Type="typeof(Preload_Demo_01_Global_Preload_For_Application_A)" ShowCodeOnly="true" />
<div class="mb-3">2. Inject <code>PreloadService</code>, then call the <code>Show()</code> and <code>Hide()</code> methods before and after the Service/API, respectively, as shown below.</div>
<Demo Type="typeof(Preload_Demo_01_Global_Preload_For_Application_B)" ShowCodeOnly="true" />

<SectionHeading Size="HeadingSize.H2" Text="Change loading text" PageUrl="@pageUrl" HashTagName="change-loading-text" />
<div class="mb-3"></div>
<Demo Type="typeof(Preload_Demo_02_Loading_Text)" />

<SectionHeading Size="HeadingSize.H2" Text="Change spinner color" PageUrl="@pageUrl" HashTagName="change-spinner-color" />
<div class="mb-3">
    Change the default spinner color by passing the <code>SpinnerColor</code> enum to the <code>Show(...)</code> method.
    In the below example, we are using a <a href="/preload#global-preload-service-for-the-application">global preload service</a>, as shown in the above section.
</div>
<Demo Type="typeof(Preload_Demo_03_Change_Spinner_Color)" />

@code {
    private string pageUrl = "/preload";
    private string title = "Blazor Preload Component";
    private string description = "Indicate the loading state of a page with Blazor Bootstrap preload component.";
    private string imageUrl = "https://i.imgur.com/2cPuqFa.png";

    [Inject] PreloadService PreloadService { get; set; } = default!;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        Task.Run(async () =>
        {
            PreloadService.Show();
            await Task.Delay(3000);
            PreloadService.Hide();
        });
    }
}