@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl"
              Title="@metaTitle"
              Description="@metaDescription"
              ImageUrl="@imageUrl" />

<PageHero Heading="@pageTitle">
    <LeadSection>@pageDescription</LeadSection>
</PageHero>

<CarbonAds />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" HashTagName="examples">
    <Demo Type="typeof(PdfViewer_Demo_01_Examples)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Orientation" PageUrl="@pageUrl" HashTagName="orientation">
    <div class="mb-3">
        Set the <code>Orientation</code> parameter to <code>Orientation.Landscape</code> to change the default orientation from <b>Portrait</b> to <b>Landscape</b>.
    </div>
    <Demo Type="typeof(PdfViewer_Demo_02_Orientation)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Base64String" PageUrl="@pageUrl" HashTagName="base64-string">
    <div class="mb-3">PDF Viewer component supports <b>base64</b> string as a URL.</div>
    <Callout Heading="Example">
        Url="@@string.Format("data:application/pdf;base64,{0}", pdfBase64String)"
    </Callout>
    <Demo Type="typeof(PdfViewer_Demo_03_Base64String)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = RouteConstants.Demos_PDFViewer_Documentation;
    private const string pageTitle = "Blazor PDF Viewer";
    private const string pageDescription = "The Blazor PDF Viewer component allows users to view PDF files directly in the browser, without relying on third-party browser tools or extensions.";
    private const string metaTitle = "Blazor PDF Viewer Component";
    private const string metaDescription = "The Blazor PDF Viewer component allows users to view PDF files directly in the browser, without relying on third-party browser tools or extensions.";
    private const string imageUrl = "https://i.imgur.com/7Vz9Efi.png";
}
