@page "/markdown"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Markdown</h1>
<div class="lead mb-3">Use Blazor Bootstrap Markdown component to add formatting, tables, images, and more to your project pages.</div>

<CarbonAds />

@* <SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_01_Examples)" Tabs="true" /> *@

<SectionHeading Size="HeadingSize.H2" Text="Headers" PageUrl="@pageUrl" HashTagName="headers" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_02_Headers)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Paragraphs and line breaks" PageUrl="@pageUrl" HashTagName="paragraphs-and-line-breaks" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_03_Paragraphs_and_Line_Breaks)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Blockquotes" PageUrl="@pageUrl" HashTagName="blockquotes" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_04_Blockquotes)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Horizontal rules" PageUrl="@pageUrl" HashTagName="horizontal-rules" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_05_Horizontal_Rules)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Emphasis (bold, italics, strikethrough)" PageUrl="@pageUrl" HashTagName="emphasis-bold-italics-strikethrough" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_06_Emphasis_bold_italics_strikethrough)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Code highlighting" PageUrl="@pageUrl" HashTagName="code-highlighting" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_07_Code_Highlighting)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Tables" PageUrl="@pageUrl" HashTagName="tables" />
<div class="mb-3"></div>
<Demo Type="typeof(Markdown_Demo_08_Tables)" Tabs="true" />

@code{
    private string pageUrl = "/markdown";
    private string title = "Blazor Markdown Component";
    private string description = "Use Blazor Bootstrap Markdown component to add formatting, tables, images, and more to your project pages.";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}