@page "/time-input"
@page "/form/time-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Time Input</h1>

@code {
    private string pageUrl = "/form/time-input";
    private string title = "Blazor TimeInput Component";
    private string description = "TODO update";
    private string imageUrl = "https://i.imgur.com/1mVjqQv.png";
}
