@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@(this)" IsFixed="true">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <div class="d-flex">
            <div class="toast-body">
                @ToastMessage.Message
            </div>
            @if (!AutoHide || ShowCloseButton)
            {
                <button type="button" class="btn-close @CloseButtonClass me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            }
        </div>
    </div>
</CascadingValue>