@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<CascadingValue Value="@(this)" IsFixed="true">
    <div @ref="@Element" id="@Id" class="@BootstrapClass.Toast @(ToastMessage is not null ? $"{ToastMessage.Type.ToToastTextColorClass()} {EnumExtensions.ToastBackgroundColorClassMap[ToastMessage.Type]}" : "") @Class" @attributes="@AdditionalAttributes">
        <div class="d-flex">
            <div class="toast-body">
                @ToastMessage?.Message
            </div>
            @if (!AutoHide || ShowCloseButton)
            {
                <button type="button" class="btn-close @CloseButtonClass me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            }
        </div>
    </div>
</CascadingValue>
