@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@this" IsFixed="true">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        @if (Messages != null && Messages.Any())
        {
            foreach (var item in Messages)
            {
                <Toast ToastMessage="@item" Hidden="OnToastHiddenAsync"></Toast>
            }
        }
    </div>
</CascadingValue>