@namespace BlazorBootstrap
@inherits BaseComponent

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    <div class="toast-header">
        <Icon Name="@iconName" CustomIconName="@ToastMessage.CustomIconName" class="@iconClass"></Icon>
        <strong class="me-auto">@ToastMessage.Title</strong>
        <small class="text-muted">@ToastMessage.HelpText</small>
        @if (!AutoHide || ShowCloseButton)
        {
            <button type="button" class="btn-close" aria-label="Close" @onclick="HideAsync"></button>
        }
    </div>
    <div class="toast-body">
        @ToastMessage.Message
    </div>
    <Progress Height="3">
        <ProgressBar @ref="toastProgressBar" Color="@progressColor" Width="toastProgressBarWidth" />
    </Progress>
</div>
