@namespace BlazorBootstrap
@inherits BaseComponent

<CascadingValue Value="@this" IsFixed="true">
    <div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
        <div class="toast-header">
            <Icon Name="@iconName" CustomIconName="@ToastMessage.CustomIconName" class="@iconClass"></Icon>
            <strong class="me-auto">@ToastMessage.Title</strong>
            <small class="text-muted">@ToastMessage.HelpText</small>
            @if (!AutoHide || ShowCloseButton)
            {
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            }
        </div>
        <div class="toast-body">
            @ToastMessage.Message
        </div>
        <div class="progress" style="height: 3px;">
            <div class="progress-bar @toastProgressClass w-100" role="progressbar" aria-label="Toast message progress" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
</CascadingValue>