@namespace BlazorBootstrap.Demo.RCL
@inherits BlazorBootstrapComponentBase

<div>
    <a class="nav-link py-2 px-2" href="@githubUrl" target="_blank" rel="noopener">
        <i class="bi bi-github"></i>
    </a>
</div>
<div>
    <a class="nav-link py-2 px-2" href="@twitterUrl" target="_blank" rel="noopener">
        <i class="bi bi-twitter-x"></i>
    </a>
</div>
<div>
    <a class="nav-link py-2 px-2" href="@linkedInUrl" target="_blank" rel="noopener">
        <i class="bi bi-linkedin"></i>
    </a>
</div>
<div>
    <a class="nav-link py-2 px-2 pe-3" href="@openCollectiveUrl" target="_blank" rel="noopener">
        <i class="bi bi-opencollective"></i>
    </a>
</div>
<div>
    <div class="vr mt-2"></div>
</div>

<ThemeSwitcher Class="ps-3 ps-lg-2" Position="DropdownMenuPosition.End" OnThemeChanged="@(async(string themeName) => await OnThemeChanged(themeName))" />