@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
@preservewhitespace true

<div class="input-group mb-3">
    <input 
        @ref="@Element" 
        type="@InputTextType"
        id="@Id"
        class="@BootstrapClass.FormControl"
        disabled="@Disabled"
        value="@Value"
        @attributes="@AdditionalAttributes"
        @onchange="OnChange">
        <button type="button" class="btn btn-primary btn-sm" @onclick="OnShowHidePasswordButtonClick"><i class="bi bi-eye-fill" /></button>
</div>
