@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
@preservewhitespace true

<div class="input-group mb-3">
    <input @ref="@Element"
           type="@InputTextType"
           id="@Id"
           class="@ClassNames"
           style="@StyleNames"
           value="@Value"
           disabled="@Disabled"
           @attributes="@AdditionalAttributes"
           @onchange="OnChange">

    <button type="button" class="@ShowHidePasswordButtonCssClass" @onclick="ShowHidePassword">
        <i class="@ShowHidePasswordButtonIcon"></i>
    </button>
</div>
