@using BlazorBootstrap
@using System.Threading.Tasks
@page "/confirm-dialog"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Confirm Dialog</h1>
<div class="mb-3">
    Use BlazorBootstrap's confirm dialog component if you want the user to verify or accept something.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<Demo Type="typeof(ConfirmDialog_Demo_01_Examples)" />

@code {
    private string pageUrl = "/confirm-dialog";
    private string title = "Confirm Dialog";
    private string description = "Use BlazorBootstrap's Confirm Dialog component if you want the user to verify or accept something.";
    private string imageUrl = "https://i.imgur.com/FGgEMp6.jpg";
}