@page "/confirm-dialog"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1 class="my-4">Blazor Confirm Dialog</h1>
<div class="mb-3">
    Use Blazor Bootstrap confirm dialog component if you want the user to verify or accept something.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3"></div>
<Demo Type="typeof(ConfirmDialog_Demo_01_Examples)" />

@*<SectionHeading Size="HeadingSize.H2" Text="Detailed messages" PageUrl="@pageUrl" HashTagName="detailed-messages" />
<div class="mb-3">
    Dynamically change the confirmation dialog title (Title) and message (Message1 and Message2) by calling <code>show(title, message1, message2)</code>.
    In the example below, <b>Save Employee</b> and <b>Delete Employee</b> both will display different titles and messages.
</div>
<Demo Type="typeof(ConfirmDialog_Demo_02_Detailed_Messages)" />*@

<SectionHeading Size="HeadingSize.H2" Text="Dynamic component as confirm dialog" PageUrl="@pageUrl" HashTagName="dynamic-component-as-confirm-dialog" />
<div class="mb-3">In the below example, we used <a href="/toasts#global-toasts-for-application" target="_blank">Toast Service</a> to show the user confirmation.</div>
<Demo Type="typeof(ConfirmDialog_Demo_03_Dynamic_Component_As_Confirm_Dialog)" />
<b>EmployeeDemoComponent.razor</b>
<Demo Type="typeof(EmployeeDemoComponent)" ShowCodeOnly="true" />

<SectionHeading Size="HeadingSize.H2" Text="Change buttons text and color" PageUrl="@pageUrl" HashTagName="change-buttons-text-and-color" />
<div class="mb-3">
    Use <code>ConfirmDialogOptions</code> to change the text and color of the button.
</div>
<Demo Type="typeof(ConfirmDialog_Demo_04_Change_Buttons_Text_And_Color)" />

<SectionHeading Size="HeadingSize.H2" Text="Optional sizes" PageUrl="@pageUrl" HashTagName="optional-sizes" />
<div class="mb-3">
    Confirm dialog have three optional sizes. These sizes kick in at certain breakpoints to avoid horizontal scrollbars on narrower viewports.
</div>
<Demo Type="typeof(ConfirmDialog_Demo_05_Optional_Sizes)" />

<SectionHeading Size="HeadingSize.H2" Text="Scrolling long content" PageUrl="@pageUrl" HashTagName="scrolling-long-content" />
<div class="mb-3">
    When dialogs become too long for the user's viewport or device, they scroll independent of the page itself. Try the demo below to see what we mean.
</div>
<Demo Type="typeof(ConfirmDialog_Demo_06_Scrolling_Long_Content_01)" Tabs="true" />
<div class="my-3">You can also create a scrollable dialog that allows scroll the dialog body by updating <code>DialogOptions.IsScrollable="true"</code>.</div>
<Demo Type="typeof(ConfirmDialog_Demo_06_Scrolling_Long_Content_02)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Vertically centered" PageUrl="@pageUrl" HashTagName="vertically-centered" />
<div class="mb-3">
    Add <code>DialogOptions.IsVerticallyCentered="true"</code> to vertically center the confirm dialog.
</div>
<Demo Type="typeof(ConfirmDialog_Demo_07_Vertically_Centered_01)" Tabs="true" />
<div class="mb-3"></div>
<Demo Type="typeof(ConfirmDialog_Demo_07_Vertically_Centered_02)" Tabs="true" />

@code {
    private string pageUrl = "/confirm-dialog";
    private string title = "Blazor Confirm Dialog Component";
    private string description = "Use Blazor Bootstrap confirm dialog component if you want the user to verify or accept something.";
    private string imageUrl = "https://i.imgur.com/chdLk3D.jpg";
}