@page "/accordion"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Accordion</h1>
<div class="lead mb-3">
    Build vertically collapsing accordions in combination with our Collapse component.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<div class="mb-3">
    The <code>Accordion</code> component uses the <code>Collapse</code> component internally to make it collapsible.
</div>

<Callout Type="CalloutType.Info">
    The animation effect of this component is dependent on the <code>prefers-reduced-motion</code> media query. <br />
    See the <a href="https://getbootstrap.com/docs/5.3/getting-started/accessibility/#reduced-motion" target="_blank">reduced motion section of our accessibility documentation</a>.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3">
    Click the accordions below to expand/collapse the accordion content.
</div>
<Demo Type="typeof(Accordion_Demo_01_Examples)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Title with Icon" PageUrl="@pageUrl" HashTagName="title-with-icon" />
<div class="mb-3">
    To customize the accordion title, use <code>TitleTemplate</code>, as shown in the below example.
</div>
<Demo Type="typeof(Accordion_Demo_02_Title_with_Icon)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Flush" PageUrl="@pageUrl" HashTagName="flush" />
<div class="mb-3">
    Set the <code>Flush</code> parameter to <code>true</code> to remove borders and rounded corners to render accordions edge-to-edge with their parent container.
</div>
<Demo Type="typeof(Accordion_Demo_03_Flush)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Set default active accordion item" PageUrl="@pageUrl" HashTagName="set-default-active-accordion-item" />
<div class="mb-3">
    Set the <code>IsActive</code> parameter to <code>true</code> to keep the accordion item open by default.
</div>
<Demo Type="typeof(Accordion_Demo_04_Set_Default_Active)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Always open" PageUrl="@pageUrl" HashTagName="always-open" />
<div class="mb-3">
    Set the <code>AlwaysOpen</code> parameter to <code>true</code> to keep accordion items open when another item is opened.
</div>
<Demo Type="typeof(Accordion_Demo_05_Always_Open)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Show / hide individual accordion items" PageUrl="@pageUrl" HashTagName="show-hide-individual-accordion-items" />
<div class="mb-3">
    You can show and hide individual accordion items in several ways.
    <ul>
        <li>To show an accordion item, use predefined methods <code>ShowFirstAccordionItemAsync</code>, <code>ShowLastAccordionItemAsync</code>, <code>ShowAccordionItemByNameAsync</code>, and <code>ShowAccordionItemByIndexAsync</code>.</li>
        <li>To hide an accordion item, use predefined methods <code>HideFirstAccordionItemAsync</code>, <code>HideLastAccordionItemAsync</code>, <code>HideAccordionItemByNameAsync</code>, and <code>HideAccordionItemByIndexAsync</code>.</li>
    </ul>
</div>
<Demo Type="typeof(Accordion_Demo_06_Show_Hide_Individual_AccordionItems)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Show / hide all accordion items" PageUrl="@pageUrl" HashTagName="show-hide-all-accordion-items" />
<div class="mb-3">
    When the <code>AlwaysOpen</code> parameter is set to <code>true</code>, you can show all accordion items simultaneously using the <code>ShowAllAccordionItemsAsync</code> method.
        The <code>HideAllAccordionItemsAsync</code> method will hide all accordion items, regardless of the value of <code>AlwaysOpen</code>.
</div>
<Demo Type="typeof(Accordion_Demo_07_Show_Hide_All_AccordionItems)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Events" PageUrl="@pageUrl" HashTagName="events" />
<div class="mb-3">
    Blazor Bootstrap Accordion component exposes a few events for hooking into accordion functionality.
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row"><code>OnHiding</code></th>
                <td>This event is fired immediately when the <code>hide</code> method has been called.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnHidden</code></th>
                <td>This event is fired when a accordion item has been hidden from the user (will wait for CSS transitions to complete).</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShowing</code></th>
                <td>This event fires immediately when the <code>show</code> method is called.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShown</code></th>
                <td>This event is fired when a accordion item has been made visible to the user (will wait for CSS transitions to complete).</td>
            </tr>
        </tbody>
    </table>
    <Callout Type="CalloutType.Info">
        If no accordion item is active, then the <code>OnHiding</code> and <code>OnHidden</code> events will not be fired.
    </Callout>
</div>
<Demo Type="typeof(Accordion_Demo_08_Events)" Tabs="true" />

@code {
    private string pageUrl = "/accordion";
    private string title = "Blazor Accordion Component";
    private string description = "Build vertically collapsing accordions in combination with our Collapse component.";
    private string imageUrl = "https://i.imgur.com/g4zpMXp.png";
}
