@attribute [Route(pageUrl)]

<PageMetaTags PageUrl="@pageUrl"
              Title="@metaTitle"
              Description="@metaDescription"
              ImageUrl="@imageUrl" />

<PageHero Heading="@pageTitle">
    <LeadSection>@pageDescription</LeadSection>
</PageHero>

<CarbonAds />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <div class="mb-3">Alerts are available for any length of text, as well as an optional close button. For proper styling, use one of the eight colors.</div>
    <Demo Type="typeof(AIChat_Demo_01_Examples)" Tabs="true" />
</Section>

@code{
    private const string pageUrl = RouteConstants.Demos_AI_Chat_Documentation;
    private const string pageTitle = "Blazor Open AI Chat Component";
    private const string pageDescription = "Provide contextual feedback messages for typical user actions with the handful of available and flexible Blazor Bootstrap alert messages."; // TODO: update
    private const string metaTitle = "Blazor Open AI Chat Component";
    private const string metaDescription = "Provide contextual feedback messages for typical user actions with the handful of available and flexible Blazor Bootstrap alert messages."; // TODO: update
    private const string imageUrl = "https://i.imgur.com/FGgEMp6.jpg"; // TODO: update
}