@page "/dropdown"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Collapse</h1>
<div class="lead mb-3">
    Dropdowns are toggleable, contextual overlays for displaying lists of links and more. They are toggled by clicking, not by hovering; this is an intentional design decision'by bootstrap.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Single button" PageUrl="@pageUrl" HashTagName="single-button" />
<Demo Type="typeof(Dropdown_Demo_01_Single_Button)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Color" PageUrl="@pageUrl" HashTagName="color" />
<Demo Type="typeof(Dropdown_Demo_02_Color)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Split button" PageUrl="@pageUrl" HashTagName="split-button" />
<Demo Type="typeof(Dropdown_Demo_03_Split_Button)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Sizing" PageUrl="@pageUrl" HashTagName="sizing" />
<Demo Type="typeof(Dropdown_Demo_04_A_Sizing)" Tabs="false" />
<Demo Type="typeof(Dropdown_Demo_04_B_Sizing)" Tabs="false" />

@code {
    private string pageUrl = "/dropdown";
    private string title = "Blazor Dropdown Component";
    private string description = "Dropdowns are toggleable, contextual overlays for displaying lists of links and more. They are toggled by clicking, not by hovering; this is an intentional design decision'by bootstrap.";
    private string imageUrl = "https://i.imgur.com/8A0emQe.png";
}
