@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div class="@ClassNames">
    <div class="d-flex justify-content-between bg-body-tertiary py-2 px-2">
        <div class="d-flex align-items-center">
            <Tooltip Class="mx-2" Title="Previous Page" role="button">
                <Icon Name="IconName.ChevronUp" Size="IconSize.x5" @onclick="PreviousPageAsync" />
            </Tooltip>
            <Tooltip Class="me-2" Title="Next Page" role="button">
                <Icon Name="IconName.ChevronDown" Size="IconSize.x5" @onclick="NextPageAsync" />
            </Tooltip>
            <NumberInput Class="form-control-sm text-center" TValue="int" Style="width:60px;" Value="@pageNumber" ValueExpression="() => pageNumber" ValueChanged="(value) => PageNumberChangedAsync(value)" Placeholder="Enter page number" />
            <div class="align-self-center ps-2">of @pagesCount</div>
        </div>
        <div class="d-flex align-items-center">
            <Tooltip Class="me-2" Title="Zoom Out" role="button">
                <Icon Name="IconName.Dash" Size="IconSize.x5" @onclick="ZoomOutAsync" />
            </Tooltip>
            <span class="badge rounded-pill text-bg-light me-2">@zoomPercentage</span>
            <Tooltip Class="me-2" Title="Zoom In" role="button">
                <Icon Name="IconName.Plus" Size="IconSize.x5" @onclick="ZoomInAsync" />
            </Tooltip>
        </div>
        <div class="d-flex align-items-center">
            @* <Tooltip Class="me-2" Title="Print" role="button">
                <Icon Name="IconName.Printer" Size="IconSize.x5" @onclick="PrintAsync" />
            </Tooltip> *@
            <div class="dropdown">
                <i class="bi bi-three-dots-vertical fs-5 dropdown-toggle pdf-viewer-dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                </i>
                <ul class="dropdown-menu">
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="RotateClockwiseAsync"><Icon Class="mx-2" Name="IconName.ArrowClockwise" Size="IconSize.x5" /> Rotate Clockwise</span></li>
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="RotateCounterclockwiseAsync"><Icon Class="mx-2" Name="IconName.ArrowCounterclockwise" Size="IconSize.x5" /> Rotate Counterclockwise</span></li>
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="SwitchOrientationAsync"><Icon Class="mx-2" Name="IconName.Compass" Size="IconSize.x5" /> Switch Orientation</span></li>
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="FirstPageAsync"><Icon Class="mx-2" Name="IconName.ChevronBarUp" Size="IconSize.x5" /> Go to First Page</span></li>
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="LastPageAsync"><Icon Class="mx-2" Name="IconName.ChevronBarDown" Size="IconSize.x5" /> Go to Last Page</span></li>
                    <li><span class="dropdown-item d-flex align-items-center" role="button" @onclick="ResetZoomAsync"><Icon Class="mx-2" Name="IconName.PlusSlashMinus" Size="IconSize.x5" /> Reset Zoom</span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="bg-secondary-subtle text-center py-3 overflow-auto">
        <canvas @ref="@ElementRef"
                @attributes="@Attributes"
                id="@ElementId">
        </canvas>
    </div>
</div>
