@page "/pagination"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Pagination</h1>
<div class="lead mb-3">
    Documentation and examples for showing pagination to indicate a series of related content exists across multiple pages.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div>We use a large block of connected links for our pagination, making links hard to miss and easily scalable—all while providing large hit areas. Pagination is built with list HTML elements so screen readers can announce the number of available links.</div>
<Demo Type="typeof(Pagination_Demo_01_Examples)" />

<SectionHeading Size="HeadingSize.H2" Text="Working with icons" PageUrl="@pageUrl" HashTagName="working-with-icons" />
<Demo Type="typeof(Pagination_Demo_02_Working_With_Icons)" />

<SectionHeading Size="HeadingSize.H2" Text="Disabled and active states" PageUrl="@pageUrl" HashTagName="disabled-and-active-states" />
<Demo Type="typeof(Pagination_Demo_03_Disabled_And_Active_States)" />

<SectionHeading Size="HeadingSize.H2" Text="Sizing" PageUrl="@pageUrl" HashTagName="sizing" />
<div>Fancy larger or smaller pagination? Add <code>Size="PaginationSize.Small"</code> or <code>Size="PaginationSize.Large"</code> for additional sizes.</div>
<Demo Type="typeof(Pagination_Demo_04_Sizing)" />

<SectionHeading Size="HeadingSize.H2" Text="Alignment" PageUrl="@pageUrl" HashTagName="alignment" />
<Demo Type="typeof(Pagination_Demo_05_Alignment)" />

<SectionHeading Size="HeadingSize.H2" Text="Events" PageUrl="@pageUrl" HashTagName="events" />
<Demo Type="typeof(Pagination_Demo_06_Events)" />

@code {
    private string pageUrl = "/pagination";
    private string title = "Blazor Pagination Component";
    private string description = "Use Blazor Bootstrap pagination component to indicate a series of related content exists across multiple pages.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";
}