@page "/form/switch"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Switch</h1>
<div class="mb-3">
    Use the Blazor Bootstrap <code>Switch</code> component to show the consistent cross-browser and cross-device custom checkboxes.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<Demo Type="typeof(Switch_Demo_01_Basic_Usage)" Tabs="true" />
@code {
    private string pageUrl = "/form/switch";
    private string title = "Blazor Switch Component";
    private string description = "Create consistent cross-browser and cross-device checkboxes with our blazor switches. A switch has the markup of a custom checkbox.";
    private string imageUrl = "https://i.imgur.com/iUNBkki.png";
}
