@page "/card"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Card</h1>
<div class="lead mb-3">
    BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="About" PageUrl="@pageUrl" HashTagName="about" />
<div class="mb-3">
    A card is a flexible and extensible content container. It includes options for headers and footers, a wide variety of content, contextual background colors, and powerful display options.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3">
    Below is an example of a basic card with mixed content and a fixed width.
    Cards have no fixed width to start, so they'll naturally fill the full width of its parent element.
</div>
<Demo Type="typeof(Card_Demo_01_Examples)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Content types" PageUrl="@pageUrl" HashTagName="content-types" />
<div class="mb-3">
    Cards support a wide variety of content, including images, text, list groups, links, and more.
    Below are examples of what’s supported.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Body" PageUrl="@pageUrl" HashTagName="body" />
<div class="mb-3">
    The building block of a card is the <b>CardBody</b>. Use it whenever you need a padded section within a card.
</div>
<Demo Type="typeof(Card_Demo_02_Content_Types_Body)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Titles, text, and links" PageUrl="@pageUrl" HashTagName="titles-text-and-links" />
<Demo Type="typeof(Card_Demo_03_Content_Types_Titles_Text_And_Links)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Images" PageUrl="@pageUrl" HashTagName="images" />
<Demo Type="typeof(Card_Demo_04_Content_Types_Images)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="List groups" PageUrl="@pageUrl" HashTagName="list-groups" />
<div class="mb-3">
    Create lists of content in a card with a flush list group.
</div>
<Demo Type="typeof(Card_Demo_05_Content_Types_List_Groups)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Kitchen sink" PageUrl="@pageUrl" HashTagName="kitchen-sink" />
<div class="mb-3">
    Mix and match multiple content types to create the card you need, or throw everything in there.
    Shown below are image styles, blocks, text styles, and a list group—all wrapped in a fixed-width card.
</div>
<Demo Type="typeof(Card_Demo_06_Content_Types_Kitchen_Sink)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Header and footer" PageUrl="@pageUrl" HashTagName="header-and-footer" />
<div class="mb-3">
    Add an optional header and/or footer within a card.
</div>
<Demo Type="typeof(Card_Demo_07_Header_And_Footer)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Sizing" PageUrl="@pageUrl" HashTagName="sizing" />
<div class="mb-3">
    Cards assume no specific width to start, so they’ll be 100% wide unless otherwise stated.
    You can change this as needed with custom CSS, grid classes, grid Sass mixins, or utilities.
</div>
<Demo Type="typeof(Card_Demo_08_Sizing)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Text alignment" PageUrl="@pageUrl" HashTagName="text-alignment" />
<div class="mb-3">
    You can quickly change the text alignment of any card—in its entirety or specific parts—with our <b>TextAlignment</b> parameter.
</div>
<Demo Type="typeof(Card_Demo_09_Text_Alignment)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Background and color" PageUrl="@pageUrl" HashTagName="background-and-color" />
<Demo Type="typeof(Card_Demo_10_Background_And_Color)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Card groups" PageUrl="@pageUrl" HashTagName="card-groups" />
<div class="mb-3">
    Use card groups to render cards as a single, attached element with equal width and height columns. 
    Card groups start off stacked and use display: flex; to become attached with uniform dimensions starting at the sm breakpoint.
</div>
<Demo Type="typeof(Card_Demo_11_Card_Groups)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Card groups with footer" PageUrl="@pageUrl" HashTagName="card-groups-with-footer" />
<div class="mb-3">
    When using card groups with footers, their content will automatically line up.
</div>
<Demo Type="typeof(Card_Demo_12_Card_Groups_With_Footer)" Tabs="true" />

@code {
    private string pageUrl = "/card";
    private string title = "Blazor Card Component";
    private string description = "BootstrapBootstrap's cards provide a flexible and extensible content container with multiple variants and options.";
    private string imageUrl = "https://i.imgur.com/RhytwPa.png";
}
