@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
@typeparam TItem

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (Data?.Any() ?? false)
    {
        @foreach (var item in Data)
        {
            if (ItemTemplate is not null)
            {
                <div class="list-group-item">@ItemTemplate(item)</div>
            }
        }
    }
</div>
