@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_BubbleChart" />

<Section Size="HeadingSize.H4" Name="Prerequisites" PageUrl="@pageUrl" Link="prerequisites">
    <div class="mb-3">
        Refer to the <a href="/getting-started/blazor-webassembly">getting started guide</a> for setting up charts.
    </div>
</Section>

<Section Size="HeadingSize.H4" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <div class="mb-3">
        The bubble chart visualizes three dimensions of data by mapping each point to <code>X</code>, <code>Y</code>, and <code>R</code> values.
    </div>
    <Callout Heading="TIP" Color="CalloutColor.Success">
        For data visualization, you can use the predefined palettes <code>ColorUtility.CategoricalTwelveColors</code> for a 12-color palette and <code>ColorUtility.CategoricalSixColors</code> for a 6-color palette.
        These palettes offer a range of distinct and visually appealing colors that can be applied to represent different categories or data elements in your visualizations.
    </Callout>
    <Demo Type="typeof(BubbleChart_Demo_01_Examples)" Tabs="true" />
</Section>

<ChartJSCallout />

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_BubbleChart;
    private const string pageTitle = "Blazor Bubble Chart";
    private const string pageDescription = "A BlazorExpress.ChartJS bubble chart component is used to display three dimensions of data at the same time. The location of the bubble is determined by the first two dimensions and the size of each bubble represents a third value.";
    private const string metaTitle = "Blazor Bubble Chart Component";
    private const string metaDescription = "A BlazorExpress.ChartJS bubble chart component is used to display three dimensions of data at the same time. The location of the bubble is determined by the first two dimensions and the size of each bubble represents a third value.";
    private const string imageUrl = "https://i.imgur.com/GEox0tS.png";
}