@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="@BootstrapClass.Card @EnumExtensions.TextAlignmentClassMap[TextAlignment] @EnumExtensions.CardColorClassMap[Color] @Class" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</div>
