@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<a @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</a>
