@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<a @ref="@Element" id="@Id" class="@BootstrapClass.CardLink @(Disabled ? BootstrapClass.Disabled : "") @Class" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</a>
