@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<p @ref="@Element" id="@Id" class="@BootstrapClass.CardText @Class" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
</p>
