@page "/password-input"

@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_PasswordInput" />

<Section Size="HeadingSize.H2" Name="Basic usage" PageUrl="@pageUrl" Link="basic-usage">
    <Demo Type="typeof(PasswordInput_Demo_01_Basic_Usage)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Disable" PageUrl="@pageUrl" Link="disable">
    <div class="mb-3">Use the <code>Disabled</code> parameter to disable the <code>PasswordInput</code>.</div>
    <Demo Type="typeof(PasswordInput_Demo_02_Disable_A)" Tabs="false" />
    <div class="my-3">Also, use <b>Enable()</b> and <b>Disable()</b> methods to enable and disable the <code>PasswordInput</code>.</div>
    <Callout Color="CalloutColor.Warning" Heading="NOTE">
        Do not use both the <b>Disabled</b> parameter and <b>Enable()</b> &amp; <b>Disable()</b> methods.
    </Callout>
    <Demo Type="typeof(PasswordInput_Demo_02_Disable_B)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Valdations" PageUrl="@pageUrl" Link="validations">
    <div class="mb-3">
        Like any other blazor input component, <code>PasswordInput</code> supports validations.
        Add the DataAnnotations on the <code>PasswordInput</code> component to validate the user input before submitting the form.
        In the below example, we used <b>Required</b> attribute.
    </div>
    <Demo Type="typeof(PasswordInput_Demo_03_Validations)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Events: ValueChanged" PageUrl="@pageUrl" Link="events-value-changed">
    <div class="mb-3">This event fires when the <code>PasswordInput</code> value changes, but not on every keystroke.</div>
    <Demo Type="typeof(PasswordInput_Demo_04_Events_ValueChanged)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_PasswordInput;
    private const string pageTitle = "Blazor PasswordInput";
    private const string pageDescription = "The Blazor Bootstrap PasswordInput component is constructed using an HTML input of type 'password'.";
    private const string metaTitle = "Blazor PasswordInput Component";
    private const string metaDescription = "The Blazor Bootstrap PasswordInput component is constructed using an HTML input of type 'password'.";
    private const string imageUrl = "https://i.imgur.com/0k1C2XS.png";
}
