@using System.ComponentModel.DataAnnotations

<style>
    .valid.modified:not([type=checkbox]) {
        outline: 1px solid #26b050;
    }

    .invalid {
        outline: 1px solid red;
    }

    .validation-message {
        color: red;
    }
</style>

<EditForm EditContext="@editContext" OnValidSubmit="HandleOnValidSubmit">
    <DataAnnotationsValidator />

    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label">User name: <span class="text-danger">*</span></label>
        <div class="col-md-10">
            <TextInput @bind-Value="@userLogin.UserName" Placeholder="Enter user name" />
            <ValidationMessage For="@(() => userLogin.UserName)" />
        </div>
    </div>

    <div class="form-group row mb-3">
        <label class="col-md-2 col-form-label">Password: <span class="text-danger">*</span></label>
        <div class="col-md-10">
            <PasswordInput @bind-Value="@userLogin.Password" />
            <ValidationMessage For="@(() => userLogin.Password)" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 text-right">
            <Button Type="ButtonType.Button" Color="ButtonColor.Secondary" Class="float-end" @onclick="ResetForm">Reset</Button>
            <Button Type="ButtonType.Submit" Color="ButtonColor.Success" Class="float-end me-2">Login</Button>
        </div>
    </div>

</EditForm>

@code {
    private UserLogin userLogin = new();
    private EditContext? editContext;

    protected override void OnInitialized()
    {
        editContext = new EditContext(userLogin);
        base.OnInitialized();
    }

    public void HandleOnValidSubmit()
    {
        // additional check
        if (editContext.Validate())
        {
            // do something
            // submit the form
            Console.WriteLine("Login successful");
        }
    }

    private void ResetForm()
    {
        userLogin = new();
        editContext = new EditContext(userLogin);
    }

    public class UserLogin
    {
        [Required(ErrorMessage = "User name required.")]
        public string? UserName { get; set; }

        [Required(ErrorMessage = "Password required.")]
        public string? Password { get; set; }
    }
}
