@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element"
     id="@Id"
     class="@ClassNames" 
     style="@StyleNames"
     @attributes="@AdditionalAttributes"
     @onclick="OnRibbonItemClickAsync">

    @if (!string.IsNullOrEmpty(ImgSrc))
    {
        <div>
            <img class="my-2"
                 src="@ImgSrc"
                 width="@($"{ImgWidth.ToString(CultureInfo.InvariantCulture)}")px"
                 height="@($"{ImgWidth.ToString(CultureInfo.InvariantCulture)}")px" />
        </div>
    }
    else if (IconName != IconName.None)
    {
        <div>
            <Icon Class="@IconCssClass"
                  Color="@IconColor"
                  Name="@IconName"
                  CustomIconName="@CustomIconName"
                  Size="@IconSize" />
        </div>
    }
    
    @if (!string.IsNullOrEmpty(Text))
    {
        <div class="text-center">@Text</div>
    }
    else
    {
        <div class="text-center">@ChildContent</div>
    }

</div>
