@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@Element" id="@Id" class="bb-ribbon-group @BootstrapClass.Flex @BootstrapClass.FlexRow @BootstrapClass.Border @Class" @attributes="@AdditionalAttributes">
    @ChildContent
</div>
