@page "/date-input"
@page "/form/date-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Date Input</h1>

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
<Demo Type="typeof(DateInput_Demo_01_Basic_Usage)" Tabs="false" />

<Callout Type="CalloutType.Tip">
    The default locale is <b>en-US</b>.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Generic type" PageUrl="@pageUrl" HashTagName="generic-type" />
<Demo Type="typeof(DateInput_Demo_02_Generic_Type)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Max min" PageUrl="@pageUrl" HashTagName="max-min" />
<Demo Type="typeof(DateInput_Demo_03_Max_Min)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Step" PageUrl="@pageUrl" HashTagName="step" />
<Demo Type="typeof(DateInput_Demo_04_Step)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Disable" PageUrl="@pageUrl" HashTagName="disable" />
<Demo Type="typeof(DateInput_Demo_05_Disable_Date_Input)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Validations" PageUrl="@pageUrl" HashTagName="validations" />
<Demo Type="typeof(DateInput_Demo_06_Validations)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Value changed" PageUrl="@pageUrl" HashTagName="value-changed" />
<Demo Type="typeof(DateInput_Demo_07_Events_Value_Changed)" Tabs="false" />

@code {
    private string pageUrl = "/form/date-input";
    private string title = "Blazor DateInput Component";
    private string description = "Use the Blazor Bootstrap DateInput component to show the numbers in the user's locale format, including the currency symbol.";
    private string imageUrl = "https://i.imgur.com/iUNBkki.png";
}
