@page "/radio-input"

@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_RadioInput" />

<Section Size="HeadingSize.H2" Name="Basic usage" PageUrl="@pageUrl" Link="basic-usage">
    <Demo Type="typeof(RadioInput_Demo_01_Basic_Usage)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Disable" PageUrl="@pageUrl" Link="disable">
    <div class="mb-3">Use the <code>Disabled</code> parameter to disable the <code>RadioInput</code>.</div>
    <Demo Type="typeof(RadioInput_Demo_02_Disable_A)" Tabs="false" />
    <div class="my-3">Also, use <b>Enable()</b> and <b>Disable()</b> methods to enable and disable the <code>RadioInput</code>.</div>
    <Callout Color="CalloutColor.Warning" Heading="NOTE">
        Do not use both the <b>Disabled</b> parameter and <b>Enable()</b> &amp; <b>Disable()</b> methods.
    </Callout>
    <Demo Type="typeof(RadioInput_Demo_02_Disable_B)" Tabs="false" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_RadioInput;
    private const string pageTitle = "Blazor RadioInput";
    private const string pageDescription = "The Blazor Bootstrap RadioInput component is constructed using an HTML input of type 'radio'.";
    private const string metaTitle = "Blazor RadioInput Component";
    private const string metaDescription = "The Blazor Bootstrap RadioInput component is constructed using an HTML input of type 'radio'.";
    private const string imageUrl = "https://i.imgur.com/8koE00q.png";
}
