@page "/form/currency-input"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Number Input</h1>
<div class="mb-3">
    Blazor Bootstrap <code>NumberInput</code> component is built around HTML input of <code>type="number"</code> that prevents the user input based on the parameters set.
</div>

<SectionHeading Size="HeadingSize.H2" Text="Basic usage" PageUrl="@pageUrl" HashTagName="basic-usage" />
@*<div class="mb-3">By default, <code>e + -</code> are blocked. For all integral numeric types, dot <code>.</code> is blocked.</div>*@
<Demo Type="typeof(CurrencyInput_Demo_01_Basic_Usage)" Tabs="true" />

@code {
    private string pageUrl = "/form/currency-input";
    private string title = "Blazor NumberInput Component";
    private string description = "Blazor Bootstrap NumberInput component is built around HTML input of type=\"number\" that prevents the user input based on the parameters set.";
    private string imageUrl = "https://i.imgur.com/iUNBkki.png";
}
