@page "/getting-started"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<SectionHeading Size="HeadingSize.H2" Text="Introduction" PageUrl="@pageUrl" HashTagName="introduction" />
<div>Get started with the Enterprise-class Blazor Bootstrap Component library built on the Blazor and Bootstrap CSS framework.</div>

<SectionHeading Size="HeadingSize.H2" Text="Install Nuget Package" PageUrl="@pageUrl" HashTagName="install-nuget-package" />
<div>Looking to quickly add <b>Blazor Bootstrap</b> to your project? Use NuGet package manager.</div>
<div class="text-bg-dark p-2 mt-3 rounded-2">Install-Package Blazor.Bootstrap -Version @version</div>

<SectionHeading Size="HeadingSize.H2" Text="Starter template" PageUrl="@pageUrl" HashTagName="starter-template" />
<div>Change your <code>index.html</code> file and include the <b>CSS</b> and <b>JS</b> files:</div>
<div>
    <ul>
        <li>Add <code>Bootstrap 5.x</code> CSS and JS files as recommended in the official Bootstrap website.</li>
        <li>Include <code>blazor.bootstrap.js</code> file</li>
        <li>Include <code>blazor.bootstrap.css</code> file</li>
    </ul>
</div>
<Demo Type="typeof(Snippet_01_Starter_Template_Index)" ShowCodeOnly="true" />

<div>Add Blazor Bootstrap service in the <b>Program.cs</b></div>
<Demo Type="typeof(Snippet_02_Starter_Template_Program)" LanguageCssClass="language-cs" ShowCodeOnly="true" />

<div>Register tag helpers in <b>_Imports.razor</b></div>
<Demo Type="typeof(Snippet_03_Starter_Template_Imports)" LanguageCssClass="language-cs" ShowCodeOnly="true" />

@code {
    private string pageUrl = "/getting-started";
    private string title = "Getting started with Blazor Bootstrap";
    private string description = "High-performance, lightweight, and responsive blazor bootstrap components in a single package from the developers for the developers.";
    private string imageUrl = "https://i.imgur.com/SCbZVd4.jpg";

    private string version;
    [Inject] public IConfiguration Configuration { get; set; }

    protected override void OnInitialized()
    {
        version = $"{Configuration.GetValue<string>("version")}"; // example: v0.6.1
        base.OnInitialized();
    }
}