@page "/collapse"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Collapse</h1>
<div class="lead mb-3">
    Toggle the visibility of content across your project with the Blazor Bootstrap <code>Collapse</code> component.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="How it works" PageUrl="@pageUrl" HashTagName="how-it-works" />
<div class="mb-3">
    The <code>Collapse</code> component is used to show and hide content. Use <code>ShowAsync</code>, <code>HideAsync</code>, and <code>ToggleAsync</code> methods to toggle the content.
    Collapsing an element will animate the height from its current value to <code>0</code>.
</div>

<Callout Type="CalloutType.Info">
    The animation effect of this component is dependent on the <code>prefers-reduced-motion</code> media query. <br />
    See the <a href="https://getbootstrap.com/docs/5.3/getting-started/accessibility/#reduced-motion" target="_blank">reduced motion section of our accessibility documentation</a>.
</Callout>

<SectionHeading Size="HeadingSize.H2" Text="Examples" PageUrl="@pageUrl" HashTagName="examples" />
<div class="mb-3">
    Click the buttons below to show and hide the content.
</div>
<Demo Type="typeof(Collapse_Demo_01_Examples)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Horizontal" PageUrl="@pageUrl" HashTagName="horizontal" />
<div class="mb-3">
    The <code>Collapse</code> component supports horizontal collapsing. Set the <code>Horizontal</code> parameter to <code>true</code> to enable horizontal collapsing.
</div>
<Demo Type="typeof(Collapse_Demo_02_Horizontal)" Tabs="false" />

<SectionHeading Size="HeadingSize.H2" Text="Events" PageUrl="@pageUrl" HashTagName="events" />
<div class="mb-3">
    Blazor Bootstrap Collapse component exposes a few events for hooking into collapse functionality.
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Event Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr>
                <th scope="row"><code>OnHiding</code></th>
                <td>This event is fired immediately when the <code>hide</code> method has been called.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnHidden</code></th>
                <td>This event is fired when a collapse component has been hidden from the user (will wait for CSS transitions to complete).</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShowing</code></th>
                <td>This event fires immediately when the <code>show</code> method is called.</td>
            </tr>
            <tr>
                <th scope="row"><code>OnShown</code></th>
                <td>This event is fired when a collapse component has been made visible to the user (will wait for CSS transitions to complete).</td>
            </tr>
        </tbody>
    </table>
</div>
<Demo Type="typeof(Collapse_Demo_03_Events)" Tabs="true" />

@code {
    private string pageUrl = "/collapse";
    private string title = "Blazor Collapse Component";
    private string description = "Toggle the visibility of content across your project with the Blazor Bootstrap Collapse component.";
    private string imageUrl = "https://i.imgur.com/8A0emQe.png";
}
