@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_ConfirmDialog" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ConfirmDialog Parameters" PageUrl="@pageUrl" Link="confirm-dialog-parameters">
    <DocxTable TItem="ConfirmDialog" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="ConfirmDialogOptions Properties" PageUrl="@pageUrl" Link="confirm-dialog-options-properties">
    <DocxTable TItem="ConfirmDialogOptions" DocType="DocType.Properties" />
</Section>

@code {
    private const string componentName = nameof(ConfirmDialog);
    private const string pageUrl = DemoRouteConstants.Docs_URL_ConfirmDialog;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_ConfirmDialog;
}