@page "/grid/fixed-header"

<PageTitle>@title</PageTitle>

<MetaTags PageUrl="@pageUrl" Title="@title" Description="@description" ImageUrl="@imageUrl" />

<h1>Blazor Grid</h1>
<div class="lead mb-3">
    Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging & sorting.
</div>

<CarbonAds />

<SectionHeading Size="HeadingSize.H2" Text="Fixed header" PageUrl="@pageUrl" HashTagName="fixed-header" />
<div class="mb-3">
    To set the fixed header, set the <b>FixedHeader</b> parameter to <b>true</b>. The minimum height of the grid is <b>320 pixels</b>.
    You can change the units to em, pt, px, or etc. by setting the <b>Unit</b> parameter.
</div>
<Demo Type="typeof(Grid_Demo_32_Fixed_Header_A)" Tabs="true" />

<SectionHeading Size="HeadingSize.H2" Text="Fixed header with filters" PageUrl="@pageUrl" HashTagName="fixed-header-with-filters" />
<Demo Type="typeof(Grid_Demo_32_Fixed_Header_B_With_Filters)" Tabs="true" />

@code {
    private string pageUrl = "/grid";
    private string title = "Blazor Grid Component";
    private string description = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
