@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" tabindex="-1" @attributes="@AdditionalAttributes">
    @ChildContent
</span>
