@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element" id="@Id" class="@BootstrapClass.Placeholder @EnumExtensions.PlaceholderWidthClassMap[Width] @EnumExtensions.PlaceholderColorClassMap[Color] @EnumExtensions.PlaceholderSizeClassMap[Size] @Class" tabindex="-1" @attributes="@AdditionalAttributes">
</span>
