@page "/grid"

@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Grid" />

<Section Size="HeadingSize.H2" Name="Client side filtering, paging, and sorting" PageUrl="@pageUrl" Link="client-side-filtering-paging-sorting">
    <Demo Type="typeof(Grid_Demo_01_Client_Side_Filtering_Paging_And_Sorting)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Server side filtering, paging and sorting" PageUrl="@pageUrl" Link="server-side-filtering-paging-sorting">
    <Demo Type="typeof(Grid_Demo_02_Server_Side_Filtering_Paging_And_Sorting)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Grid_Overview;
    private const string pageTitle = "Blazor Grid";
    private const string pageDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string metaTitle = "Blazor Grid Component";
    private const string metaDescription = "Use Blazor Bootstrap grid component to display tabular data from the data source. And it supports client-side and server-side filtering, paging, and sorting.";
    private const string imageUrl = "https://i.imgur.com/kKNgo2I.png";
}
