@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @ChildContent
    @if (!string.IsNullOrWhiteSpace(VisuallyHiddenText))
    {
        <span class="visually-hidden">@VisuallyHiddenText</span>
    }
</span>
