@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element" id="@Id" class="@ClassNames" style="@StyleNames" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    
    @if (!string.IsNullOrWhiteSpace(VisuallyHiddenText))
    {
        <span class="visually-hidden">@VisuallyHiddenText</span>
    }
</span>
