@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<span @ref="@Element" id="@Id" class="@BootstrapClass.Badge @(ChildContent is null ? "p-2" : "") @EnumExtensions.BadgeColorClassMap[Color] @EnumExtensions.BadgeIndicatorClassMap[IndicatorType] @EnumExtensions.PositionClassMap[Position] @EnumExtensions.BadgePlacementClassMap[Placement] @Class" @attributes="@AdditionalAttributes">
    @if (ChildContent != null)
    {
        @ChildContent
    }
    
    @if (!string.IsNullOrWhiteSpace(VisuallyHiddenText))
    {
        <span class="visually-hidden">@VisuallyHiddenText</span>
    }
</span>
