@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Sidebar2" />

<Section Size="HeadingSize.H2" Name="Basic usage" PageUrl="@pageUrl" Link="basic-usage">
    <div class="mb-3"></div>
    <Demo Type="typeof(Sidebar2_Demo_01_Basic_Usage)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="More nested levels" PageUrl="@pageUrl" Link="more-nested-levels">
    <div class="mb-3"></div>
    <Demo Type="typeof(Sidebar2_Demo_02_More_Nested_Levels)" Tabs="true" />
</Section>

@* <Section Size="HeadingSize.H2" Name="Change icons color" PageUrl="@pageUrl" Link="change-icons-color">
    <div class="mb-3">Set <code>IconColor</code> property to change the color.</div>
    <Demo Type="typeof(Sidebar2_Demo_03_Change_Icons_Color)" Tabs="true" />
</Section>*@

<Section Size="HeadingSize.H2" Name="Full layout with sidebar" PageUrl="@pageUrl" Link="full-layout-with-sidebar">
    <div class="mb-3">Replace your <b>MainLayout.razor</b> page code with the below example to have a complete layout with a sidebar.</div>
    <Demo Type="typeof(Sidebar2_Demo_04_Full_layout_with_sidebar)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Custom brand icon" PageUrl="@pageUrl" Link="custom-brand-icon">
    <div class="mb-3">Use the <code>CustomIconName</code> parameter to set the custom logo icon using font awesome or other icons.</div>
    <Demo Type="typeof(Sidebar2_Demo_07_Custom_Brand_Icon)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Show image as brand logo" PageUrl="@pageUrl" Link="show-image-as-brand-logo">
    <div class="mb-3">Use the <code>ImageSrc</code> parameter to set the brand logo.</div>
    <Demo Type="typeof(Sidebar2_Demo_08_Show_Image_as_Brand_Logo)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Width" PageUrl="@pageUrl" Link="width">
    <div class="mb-3">Set the <b>Width</b> parameter to change the sidebar width. Default value is <b>270px</b>.</div>
    <Demo Type="typeof(Sidebar2_Demo_09_Width)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Set full width company logo" PageUrl="@pageUrl" Link="set-full-width-compay-logo">
    <div class="mb-3"></div>
    <Demo Type="typeof(Sidebar2_Demo_10_Company_Logo_FullWidth)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_Sidebar2;
    private const string pageTitle = "Blazor Sidebar2";
    private const string pageDescription = "Use the Blazor Bootstrap Sidebar2 component to display consistent, cross-browser, and responsive navigation links that support more than two nested levels.";
    private const string metaTitle = "Blazor Sidebar2 Component";
    private const string metaDescription = "Use the Blazor Bootstrap Sidebar2 component to display consistent, cross-browser, and responsive navigation links that support more than two nested levels.";
    private const string imageUrl = "https://i.imgur.com/U0l6wXo.png";
}
