@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_Spinners" />

<Section Size="HeadingSize.H2" Name="Border spinner" PageUrl="@pageUrl" Link="border-spinner">
    <div class="mb-3">Use the border spinners for a lightweight loading indicator.</div>
    <Demo Type="typeof(Spinners_Demo_01_Border_Spinner)" />
</Section>

<Section Size="HeadingSize.H2" Name="Colors" PageUrl="@pageUrl" Link="colors">
    <div class="mb-3">
        The border spinner's border color inherits the element's color (<code>currentColor</code>). This means you can easily customize the spinner's color by changing the <code>Color</code> parameter on the standard spinner.
    </div>
    <Demo Type="typeof(Spinners_Demo_02_Colors)" />
</Section>

<Section Size="HeadingSize.H2" Name="Grow spinner" PageUrl="@pageUrl" Link="grow-spinner">
    <div class="mb-3">
        If you don't fancy a border spinner, switch to the grow spinner, while it doesn't technically spin, it does repeatedly grow!
    </div>
    <Demo Type="typeof(Spinners_Demo_03_Grow_spinner_A)" />
    <Demo Type="typeof(Spinners_Demo_03_Grow_spinner_B)" />
</Section>

<Section Size="HeadingSize.H2" Name="Loading dots spinner" PageUrl="@pageUrl" Link="loading-dots-spinner">
    <div class="mb-3">The loading dots are a special indicator for a lightweight loading indicator.</div>
    <Demo Type="typeof(Spinners_Demo_04_Loading_dots_spinner_A)" />
    <Demo Type="typeof(Spinners_Demo_04_Loading_dots_spinner_B)" />
</Section>

<Section Size="HeadingSize.H2" Name="Alignment" PageUrl="@pageUrl" Link="alignment" />
<Section Size="HeadingSize.H2" Name="Margin" PageUrl="@pageUrl" Link="margin">
    <Demo Type="typeof(Spinners_Demo_05_Alignment_A_Margin)" />
</Section>

<Section Size="HeadingSize.H2" Name="Placement" PageUrl="@pageUrl" Link="placement" />
<Section Size="HeadingSize.H2" Name="Flex" PageUrl="@pageUrl" Link="flex">
    <Demo Type="typeof(Spinners_Demo_05_Alignment_B_Palcement_Flex_01)" />
    <Demo Type="typeof(Spinners_Demo_05_Alignment_B_Palcement_Flex_02)" />
</Section>

<Section Size="HeadingSize.H2" Name="Floats" PageUrl="@pageUrl" Link="floats">
    <Demo Type="typeof(Spinners_Demo_05_Alignment_C_Palcement_Floats)" />
</Section>

<Section Size="HeadingSize.H2" Name="Text align" PageUrl="@pageUrl" Link="text-align">
    <Demo Type="typeof(Spinners_Demo_05_Alignment_D_Palcement_Text_align)" />
</Section>

<Section Size="HeadingSize.H2" Name="Size" PageUrl="@pageUrl" Link="size">
    <Demo Type="typeof(Spinners_Demo_06_Size_A_Border)" />
    <Demo Type="typeof(Spinners_Demo_06_Size_B_Grow)" />
    <Demo Type="typeof(Spinners_Demo_06_Size_C_Dots)" />
</Section>

<Section Size="HeadingSize.H2" Name="Visible" PageUrl="@pageUrl" Link="visible">
    <Demo Type="typeof(Spinners_Demo_07_Visible)" />
</Section>

@code{
    private const string pageUrl = DemoRouteConstants.Demos_URL_Spinners;
    private const string pageTitle = "Blazor Spinner";
    private const string pageDescription = "Visualize the loading state of a component or page using the Blazor Bootstrap Spinner component.";
    private const string metaTitle = "Blazor Spinner Component";
    private const string metaDescription = "Visualize the loading state of a component or page using the Blazor Bootstrap Spinner component.";
    private const string imageUrl = "https://i.imgur.com/G4wyEd6.png";
}
