@namespace BlazorBootstrap
@inherits BaseComponent

<div class="form-check form-switch @ClassNames @reverse" style="@StyleNames">
    <input @ref="@ElementRef"
           @attributes="@Attributes"
           type="checkbox"
           id="@ElementId"
           class="form-check-input"
           disabled="@Disabled"
           checked="@Value"
           @onchange="OnChange"
           role="switch"/>

    @if (!string.IsNullOrWhiteSpace(Label))
    {
        <label class="form-check-label" for="@ElementId">@Label</label>
    }
</div>