@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_PDFViewer" />

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <Demo Type="typeof(PdfViewer_Demo_01_Examples)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Orientation" PageUrl="@pageUrl" Link="orientation">
    <div class="mb-3">
        Set the <code>Orientation</code> parameter to <code>Orientation.Landscape</code> to change the default orientation from <b>Portrait</b> to <b>Landscape</b>.
    </div>
    <Demo Type="typeof(PdfViewer_Demo_02_Orientation)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Base64String" PageUrl="@pageUrl" Link="base64-string">
    <div class="mb-3">PDF Viewer component supports <b>base64</b> string as a URL.</div>
    <Callout Heading="Example">
        Url="@@string.Format("data:application/pdf;base64,{0}", pdfBase64String)"
    </Callout>
    <Demo Type="typeof(PdfViewer_Demo_03_Base64String)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="RTL doc" PageUrl="@pageUrl" Link="rtl-doc">
    <Callout HideHeading="true">Below screenshot is added for demo purposes only. For additional info, refer to this <a href="https://github.com/vikramlearning/blazorbootstrap/issues/919">link</a>.</Callout>
    <Image Src="https://github.com/user-attachments/assets/2a2afd0d-9065-456c-9866-db10f81b7780" Alt="Blazor Bootstrap: Blazor PDF Viewer Component - RTL doc"/>
</Section>

<Section Size="HeadingSize.H2" Name="Password protected" PageUrl="@pageUrl" Link="password-protected">
    <div class="mb-3">
        To open a password-protected PDF document, set the <code>Password</code> parameter to the required password.
    </div>
    <Demo Type="typeof(PdfViewer_Demo_05_Password_Protected_A)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Prompt for password" PageUrl="@pageUrl" Link="prompt-for-password">
    <div class="mb-3">
        If the <code>Password</code> parameter is not set and the PDF document is password-protected, the PDF Viewer component will prompt the user to enter the password.
        In the following example, the PDF Viewer prompts the user to enter the password for the protected PDF document. Enter <b>12345</b> as the password to view the document.
    </div>
    <Demo Type="typeof(PdfViewer_Demo_05_Password_Protected_B_Prompt_For_Password)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_PDFViewer;
    private const string pageTitle = "Blazor PDF Viewer";
    private const string pageDescription = "The Blazor PDF Viewer component allows users to view PDF files directly in the browser, without relying on third-party browser tools or extensions.";
    private const string metaTitle = "Blazor PDF Viewer Component";
    private const string metaDescription = "The Blazor PDF Viewer component allows users to view PDF files directly in the browser, without relying on third-party browser tools or extensions.";
    private const string imageUrl = "https://i.imgur.com/7Vz9Efi.png";
}
