@attribute [Route(pageUrl)]
@layout DocsMainLayout

<DocsPageHeadSection PageUrl="@pageUrl"
                     PageTitle="@pageTitle"
                     PageDescription="@pageDescription"
                     MetaTitle="@metaTitle"
                     MetaDescription="@metaDescription"
                     ImageUrl="@imageUrl" />

<DemoLink Href="@DemoRouteConstants.Demos_URL_Tabs" />

<Section Class="p-0" Size="HeadingSize.H3" Name="Screenshot" PageUrl="@pageUrl" Link="screenshot">
    <img src="@imageUrl" class="img-fluid" alt="@metaTitle" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Tabs Parameters" PageUrl="@pageUrl" Link="tabs-parameters">
    <DocxTable TItem="Tabs" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Tabs Methods" PageUrl="@pageUrl" Link="tabs-methods">
    <DocxTable TItem="Tabs" DocType="DocType.Methods" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Tabs Events" PageUrl="@pageUrl" Link="tabs-events">
    <DocxTable TItem="Tabs" DocType="DocType.Events" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Tab Parameters" PageUrl="@pageUrl" Link="tab-parameters">
    <DocxTable TItem="Tab" DocType="DocType.Parameters" />
</Section>

<Section Class="p-0" Size="HeadingSize.H3" Name="Tab Events" PageUrl="@pageUrl" Link="tab-events">
    <DocxTable TItem="Tab" DocType="DocType.Events" />
</Section>

@code {
    private const string componentName = nameof(Tabs);
    private const string pageUrl = DemoRouteConstants.Docs_URL_Tabs;
    private const string pageTitle = componentName;
    private const string pageDescription = $"This documentation provides a comprehensive reference for the <code>{componentName}</code> component, guiding you through its configuration options.";
    private const string metaTitle = $"Blazor {componentName} Component";
    private const string metaDescription = $"This documentation provides a comprehensive reference for the {componentName} component, guiding you through its configuration options.";
    private const string imageUrl = DemoScreenshotSrcConstants.Demos_URL_Tabs;
}