@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase
@typeparam TItem

<div class="autocomplete">
    <div class="input-group">
        <input @ref="@ElementRef"
               type="text"
               id="@ElementId"
               class="@ClassNames @fieldCssClasses"
               style="@StyleNames"
               @attributes="@Attributes"
               value="@Value"
               @oninput="OnInputChangedAsync"
               @onkeydown="OnKeyDownAsync"
               placeholder=" @Placeholder"
               disabled="@Disabled"
               autocomplete="off"/>

        @if (inputHasValue)
        {
            <Button @ref="closeButton"
                    Class="border-0 position-absolute end-0"
                    Style="@DeleteButtonStyle"
                    Disabled="@Disabled"
                    @onclick="ClearInputTextAsync">

                <Icon Name="IconName.XLg"></Icon>

            </Button>
        }
        <ul @ref="list" class="dropdown-menu autocomplete-list" data-popper-placement="bottom-start">
            @if (items is not null && items.Any())
            {
                foreach (var item in items)
                {
                    <li class="dropdown-item" @onclick="async () => await OnItemSelectedAsync(item)">@GetPropertyValue(item)</li>
                }
            }
            else if (searchInProgress)
            {
                <li class="dropdown-item">@LoadingText</li>
            }
            else
            {
                <li class="dropdown-item">@EmptyText</li>
            }
        </ul>
    </div>
</div>
