@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_ThemeSwitcher" />

<Section Size="HeadingSize.H2" Name="How it works" PageUrl="@pageUrl" Link="how-it-works">
    <div class="mb-3">
        In the following example, you will see a theme switcher similar to a dropdown component with three options: Light, Dark, and Auto.
    </div>
    <Demo Type="typeof(ThemeSwitcher_Demo_01_How_It_Works)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Position" PageUrl="@pageUrl" Link="position">
    <div class="mb-3">
        By default, the <b>Position</b> is set to <code>DropdownMenuPosition.Start</code>.
        You can change the position of the theme switcher by setting the <b>Position</b> parameter to <code>DropdownMenuPosition.End</code>.
    </div>
    <Demo Type="typeof(ThemeSwitcher_Demo_02_Position_A)" Tabs="false" />
    <div class="my-3">
        Align the theme switcher to the right to position the dropdown menu on the right side of the button.
    </div>
    <Demo Type="typeof(ThemeSwitcher_Demo_02_Position_B)" Tabs="false" />
</Section>

<Section Size="HeadingSize.H2" Name="Events" PageUrl="@pageUrl" Link="events">
    <div class="mb-3">
        If you want to perform an action when the theme changes, you can use the <code>OnThemeChanged</code> event.
    </div>
    <Demo Type="typeof(ThemeSwitcher_Demo_03_Events)" Tabs="false" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_ThemeSwitcher;
    private const string pageTitle = "Blazor Theme Switcher";
    private const string pageDescription = "Documentation and examples for using the Blazor Bootstrap Theme Switcher component.";
    private const string metaTitle = "Blazor Theme Switcher Component";
    private const string metaDescription = "Documentation and examples for using the Blazor Bootstrap Theme Switcher component.";
    private const string imageUrl = "https://i.imgur.com/2eixWho.png";
}
