@namespace BlazorBootstrap
@inherits BlazorBootstrapComponentBase

<div @ref="@ElementRef" id="@ElementId" class="@ClassNames" style="@StyleNames" @attributes="@Attributes">
    @if (HasChilds)
    {
        <NavLink class="nav-link" role="button" @onclick="ToggleNavItemGroup">
            @if (navitemGroupExpanded)
            {
                <span class="nav-link-arrow expanded-only">
                    <Icon Name="IconName.ChevronDown" />
                </span>
            }
            else
            {
                <span class="nav-link-arrow expanded-only">
                    <Icon Name="IconName.ChevronRight" />
                </span>
            }

            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon ms-3">
                    <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
                </span>
            }
            else
            {
                <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                    <span class="nav-link-icon ms-3">
                        <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
                    </span>
                </Tooltip>
            }
            <span class="nav-link-text fw-semibold expanded-only ms-3">@Text</span>
            
        </NavLink>
    }
    else
    {
        <NavLink class="nav-link" href="@Href" target="@targetString" Match="@Match" @onclick="AutoHideNavMenu">
            @if (!CollapseSidebar)
            {
                <span class="nav-link-icon ms-3">
                    <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
                </span>
            }
            else
            {
                <Tooltip Title="@Text" Placement="TooltipPlacement.Right" role="button">
                    <span class="nav-link-icon ms-3">
                        <Icon Class="@iconColorCssClass" Name="@IconName" CustomIconName="@CustomIconName" aria-hidden="true" />
                    </span>
                </Tooltip>
            }
            <span class="nav-link-text expanded-only ms-3">@Text</span>
        </NavLink>
    }

    @if (navitemGroupExpanded && HasChilds && ChildItems is not null && ChildItems.Any())
    {
        @foreach (var childItem in ChildItems)
        {
            <SidebarItem IconName="@childItem.IconName"
                         CustomIconName="@childItem.CustomIconName"
                         IconColor="@childItem.IconColor"
                         Href="@childItem.Href"
                         Text="@childItem.Text"
                         Target="@childItem.Target"
                         Match="@childItem.Match"
                         Class="@childItem.Class" />
        }
    }
</div>
