@attribute [Route(pageUrl)]
@layout DemosMainLayout

<DemosPageHeadSection PageUrl="@pageUrl"
                      PageTitle="@pageTitle"
                      PageDescription="@pageDescription"
                      MetaTitle="@metaTitle"
                      MetaDescription="@metaDescription"
                      ImageUrl="@imageUrl" />

<DocsLink Href="@DemoRouteConstants.Docs_URL_GoogleMap" />

<Section Size="HeadingSize.H2" Name="Prerequisite" PageUrl="@pageUrl" Link="prerequisite">
    <div>
        Before you start using the GoogleMap component in your project, you need an API key.
        Please follow the link below for detailed steps.
        <b>Link:</b> <a href="https://developers.google.com/maps/documentation/javascript/get-api-key?setupProd=prerequisites" target="_blank">https://developers.google.com/maps/documentation/javascript/get-api-key?setupProd=prerequisites</a>.
    </div>
</Section>

<Section Size="HeadingSize.H2" Name="Examples" PageUrl="@pageUrl" Link="examples">
    <div class="mb-3">This example demonstrates how to use a simple Google Map component.</div>
    <Demo Type="typeof(GoogleMap_Demo_01_Examples)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Add a marker to a map" PageUrl="@pageUrl" Link="add-a-marker-to-a-map">
    <div class="mb-3">This example demonstrates how to use a simple Google Map component with marker.</div>
    <Demo Type="typeof(GoogleMap_Demo_02_Marker)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Marker customization" PageUrl="@pageUrl" Link="marker-customization" />
<Section Size="HeadingSize.H3" Name="Scale the marker" PageUrl="@pageUrl" Link="scale-the-marker">
    <div class="mb-3">To scale a marker, use the <b>PinElement.Scale</b> option.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_A_Scale_the_marker)" Tabs="true" />
</Section>
<Section Size="HeadingSize.H3" Name="Change the background color" PageUrl="@pageUrl" Link="change-the-background-color">
    <div class="mb-3">Use the <b>PinElement.Background</b> option to change the background color of a marker.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_B_Change_the_background_color)" Tabs="true" />
</Section>
<Section Size="HeadingSize.H3" Name="Change the border color" PageUrl="@pageUrl" Link="change-the-border-color">
    <div class="mb-3">Use the <b>PinElement.BorderColor</b> option to change the border color of a marker.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_C_Change_the_border_color)" Tabs="true" />
</Section>
<Section Size="HeadingSize.H3" Name="Change the glyph color" PageUrl="@pageUrl" Link="change-the-glyph-color">
    <div class="mb-3">Use the <b>PinElement.GlyphColor</b> option to change the glyph color of a marker.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_D_Change_the_glyph_color)" Tabs="true" />
</Section>
<Section Size="HeadingSize.H3" Name="Hide the glyph" PageUrl="@pageUrl" Link="hide-the-glyph">
    <div class="mb-3">Set the <b>PinElement.Glyph</b> option to an empty string to hide a marker's glyph.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_E_Hide_the_glyph)" Tabs="true" />
</Section>
<Section Size="HeadingSize.H3" Name="Use icon fonts" PageUrl="@pageUrl" Link="use-icon-fonts">
    <div class="mb-3">Use the <b>PinElement.UseIconFonts</b> and <b>PinElement.Glyph</b> options to use the icon fonts.</div>
    <Demo Type="typeof(GoogleMap_Demo_03_Marker_Customization_F_Use_icon_fonts)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Markers with HTML and CSS" PageUrl="@pageUrl" Link="markers-with-html-and-css">
    <Demo Type="typeof(GoogleMap_Demo_04_Markers_with_HTML_and_CSS)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Make a marker clickable" PageUrl="@pageUrl" Link="make-a-marker-clickable">
    <div class="mb-3">
        This example shows you how to make markers respond to click events. To make a marker clickable:
        Set the <b>Clickable</b> parameter to <b>true</b>.
    </div>
    <Demo Type="typeof(GoogleMap_Demo_05_Make_a_marker_clickable)" Tabs="true" />
</Section>

<Section Size="HeadingSize.H2" Name="Dynamic markers" PageUrl="@pageUrl" Link="dynamic-markers">
    <Demo Type="typeof(GoogleMap_Demo_06_Dynamic_markers)" Tabs="true" />
</Section>

@code {
    private const string pageUrl = DemoRouteConstants.Demos_URL_GoogleMap;
    private const string pageTitle = "Blazor Google Map";
    private const string pageDescription = "Blazor Bootstrap Google Map component will create maps to show locations anywhere in the world using the Google JavaScript API.";
    private const string metaTitle = "Blazor Google Map Component";
    private const string metaDescription = "Blazor Bootstrap Google Map component will create maps to show locations anywhere in the world using the Google JavaScript API.";
    private const string imageUrl = "https://i.imgur.com/AbyDP51.png";
}
